@import "_variables.scss";

@import "_cleanup.scss";
@import "_generic.scss";
@import "_mixins.scss";



.front {
    h2 {
        font-family: $font-title-normal;
    }
    #block-quicktabs-homepage-main-tab {
        padding: $gap-large 10px;
        background: $off-white;
        text-align: center;
        @include background-image('women-with-tablet-merged.jpg', center,top,no-repeat, $charcoal);
        background-size: 100% auto;
        @media only screen and (max-width: $break-point-medium) {
            background-size: auto 100%;
            padding: 10px 0px;
        }
        .quicktabs-wrapper  {
            @include quicktabs-tabs();
            .quicktabs-tabs {
                li {
                    padding-right: 5px;
                    margin-bottom: 5px;
                    a {
                        /*font-size:16px;*/
                    }
                }
                li:last-child {
                    padding-right: 0px;
                }
            }
            .quicktabs_main {
                @include background-image('transparent-pixel-charcoal.png', center, center, repeat);
                padding: 80px 40px;
                font:$intro-text;

                @media only screen and (max-width: $break-point-medium) {
                    padding:20px 10px;
                }
                .panels-flexible-region-first {
                    text-align: left;
                    padding-right:100px;
                    .field-name-field-link-more {
                        a {
                            margin-top: 30px;
                            @include rounded-button-with-arrrow;
                            &:hover {
                                border-color: white;
                            }
                        }
                    }
                    @media only screen and (max-width: $break-point-medium) {
                        padding-right:0px;
                        width:100%;
                        text-align:center;
                    }
                }
                .panels-flexible-region-last {
                    text-align:left;
                    h3 {
                        font:$title-h5;
                        font-family: $font-title-normal;
                        margin: 0px;
                        background: white;
                        padding: 20px 0px;
                        text-align: center;
                        text-transform: uppercase;
                    }
                    .tools-resources-list {
                        @include resources-list();
                    }
                    @media only screen and (max-width: $break-point-medium) {
                        display:none;
                    }
                }
            }
        }
    }
    #block-bean-need-help-choosing-the-right-ip {
        padding: $gap-large 10px;
        text-align: center;
        color: white;
        background-color: $purple;
        font:$intro-text;
        border-top: 2px solid white;
        border-bottom: 2px solid white;
        @media only screen and (max-width: $break-point-medium) {
            padding: 10px 0px 40px;
        }
        h2 {
            color: white;
        }
        .bean-basic-content {
            max-width: 60%;
            margin: 0 auto;
            @media only screen and (max-width: $break-point-medium) {
                max-width: 90%;
            }
        }
        .field-items {
            a {
                @include rounded-button-with-arrrow();
                margin-top: $gap-medium;
                &:hover {
                    border-color:white;
                }
            }
        }
    }
    #block-bean-tools-and-resources-generic-bloc {
        padding: $gap-large 10px;
        background: $charcoal;
        color:white;
        text-align:center;
        @include background-image('tablet_v2.jpg', center,center,no-repeat, $charcoal);
        background-size: 120% auto;
        @media only screen and (max-width: $break-point-medium) {
            background-size: auto 100%;
        }
        h2 {
            margin: 0px 0px 20px 0px;
            color: white;
        }
        .panel-flexible {
            .panels-flexible-row-inside {
                .panels-flexible-region {
                    width:25%;
                    @media only screen and (max-width: $break-point-medium) {
                        width: 50%;
                        &:nth-child(3) {
                            clear: both;
                        }
                    }
                    @media only screen and (max-width: $break-point-small) {
                        width: 100%;
                    }
                    .inside {
                        background: white none repeat scroll 0 0;
                        margin-right: 20px;
                        /*min-height: 565px;*/
                        @media only screen and (max-width: $break-point-medium) {
                            margin-bottom:20px;
                        }
                        @media only screen and (max-width: $break-point-small) {
                            margin-right: 0px;
                        }
                        padding: 0;
                        .panel-image {
                            margin-top: $gap-medium;
                            @media only screen and (max-width: $break-point-medium) {
                                margin:13px;
                                float:left;
                                width:45px;
                            }
                        }
                        h3 {
                            @media only screen and (max-width: $break-point-medium) {
                                margin:0px;
                                line-height: 77px;
                                text-align:left;
                                position: absolute;
                                margin:-74px 0 0 70px;
                                height:73px;
                                overflow:hidden;
                                white-space: nowrap;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                width:54%;
                            }
                        }
                        ul {
                            list-style:none;
                            li {
                                text-align: left;
                            }

                        }
                    }

                }

            }
            .Top {
                .panels-flexible-row-inside {
                    .panels-flexible-region {
                        width:100%;
                        .inside {
                            background: transparent;
                            font:$intro-text;
                            padding-bottom: $gap-medium;
                            min-height: 10px;
                        }
                    }
                }
            }
            .Bottom {
                .panels-flexible-row-inside {
                    .panels-flexible-region {
                        width:100%;
                        .inside {
                            background: transparent;
                            font:$intro-text;
                            min-height: 10px;

                            a {
                                margin-top: $gap-medium;
                                @include rounded-button-with-arrrow;
                                border-color: white;
                                cursor: pointer;
                                :hover {
                                    border-color: white;    
                                }
                            }
                        }

                    }
                }
            }
            .tools-resources-list {
                @include resources-list(no-icon);

                @media only screen and (max-width: $break-point-small) {
                    /*display:none;*/
                }
                li {
                    /*margin-top: 18px;*/
                    padding: 0px 30px 15px 50px;
                    /*margin-bottom: 18px;*/
                    font-size: 16px;
                    @include background-image('link-tool.png', 17px, 2px);
                    line-height: 22px;
                }
            }
            .panels-flexible-region-four_column_panel_with_top_and_bottom-left_region_1 {
                .tools-resources-list {
                    @include resources-list(no-icon);
                    background:$charcoal;
                    padding-top:2px;
                    li {
                        margin-top: 2px;
                        border-top: 0px;
                        margin-bottom: 0px;
                        padding: 18px 14px;
                        font:$body-text;
                        line-height: 22px;
                        &.patents {
                            margin-top: 0px;
                        }
                    }
                }
            }


        }

    }
    #block-panels-mini-news-and-community-homepage-pane {
        padding: $gap-large 10px;
        text-align: center;
        h2 {
            color: $charcoal;
        }
        .quicktabs-wrapper {
            @include quicktabs-tabs(32.9%, #fff, $charcoal);
            .quicktabs-tabs {
                li {
                    padding-bottom: 19px;
                    margin-bottom: 14px;;
                    margin-right: -1px;
                    &.active {
                        @include background-image('dwn-arrow-charcoal.png', center, bottom);
                        a {
                            background: white;
                            color: $charcoal;
                            border-bottom: 7px solid $charcoal;
                        }
                    }
                }
            }

            .quicktabs_main {
                color: $charcoal;
                margin-left:0px !important;
                .views-view-grid {
                    td {
                        position: relative;
                        vertical-align: top;
                        width: 33%;


                        div[class*="image"] {
                            position:relative;
                            z-index:10;
                            img {
                                display: inline-block;
                                height: 380px;
                            }
                        }
                        div[class*="date"] {
                            @include news-community-texts;
                            padding-top:23px;
                            height:44px;
                            text-overflow: ellipsis;
                            overflow:hidden;
                            span[class*="label "] {
                                float: left;
                            }
                            margin-top: -140px;
                        }
                        div[class*="title"],  div[class*="location"]{
                            @include news-community-texts;
                            clear: both;
                            font:$title-h5;
                            font-family:$font-title-normal;
                            height:95px !important;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            text-decoration: underline;
                            padding:6px 20px;
                            a {
                                color:white;
                                text-decoration: underline;
                            }
                        }
                        div[class*="location"] {
                            @include news-community-texts;
                        }
                        div[class*="body"] {
                            @include news-community-texts;
                            height: 240px;
                            overflow: hidden;
                            display: none;
                            text-overflow: ellipsis;

                        }
                        &:hover {
                            div[class*="date"] {
                                margin-top: -380px
                            }
                            div[class*="body"] {
                                display: block;
                            }
                        }
                    }
                }
            }

            @media only screen and(max-width:$break-point-medium) {
                #quicktabs-container-news_events_and_media {
                    height: 384px;
                    overflow: hidden;
                    width: 100% !important;
                    .quicktabs-tabpage  {
                        height: 400px;
                        width: 100%;
                        overflow-x: auto;
                        overflow-y: hidden;
                        > section {
                            width: 1200px;
                        }
                    }
                }
            }
        }

        .Top {
            .panels-flexible-row-inside {
                .panels-flexible-region {
                    width:100%;
                    .inside {
                        font:$intro-text;
                        padding: 10px 0 30px 0;
                    }
                }
            }
        }
        .panels-flexible-row-last {
            .panels-flexible-row-inside {
                .panels-flexible-region {
                    width:100%;
                    .inside {
                        a {
                            margin-top: $gap-medium;
                            @include rounded-button-with-arrrow($charcoal, white, 14px, 'arrow-right-transparent.png');
                            border-color: $charcoal;
                            margin-right: 27px;
                            cursor: pointer;
                            :hover {
                                border-color: white;    
                            }
                        }
                    }

                }
            }
        }
    }
    #block-panels-mini-consultations-and-twitter-feed-2 {
        padding: $gap-large 10px;
        background: $off-white;
        .panel-display {
            .panel-panel {
                width: 50%;
                @media only screen and (max-width: $break-point-medium) {
                    width: 100%;
                } 
                .inside {
                    border-left: 10px solid $charcoal;
                    margin-right: 20px;
                    background: white;
                    padding: $gap-medium $gap-small;
                    min-height:400px;
                    position:relative;
                    margin-left: 0px;

                    @media only screen and (max-width: $break-point-medium) {
                        margin-right: 0px;
                    } 
                    .pane-title, h3 {
                        font: $title-h4;
                        font-family: $font-title-normal;
                        margin: 0px;
                        margin-bottom: 35px;
                    }
                    a {
                        @include background-image('arrow-right-golden-transparent.png', right);
                        padding-right: 20px;
                        text-decoration: underline;
                        margin-top: 35px;
                        display: inline-block;
                    }
                    .pane-govcms-social-links-services {
                        .pane-content {
                            display: none;
                            position: absolute;
                            top: 0;
                            right: 20px;

                            a {
                                background: none;
                                padding: 0 0 0 10px;
                            }
                        }
                    }
                    .pane-twitter-block-1 {
                        position: absolute;
                        top: 0;
                        right: 20px;
                        @media only screen and (max-width: $break-point-small) {
                            top: 44px;
                            right:0px;
                            left:-15px;
                        } 
                        ul {
                            list-style:none;
                            float: right;
                            li {
                                float: left;
                                a {
                                    background: none;
                                    text-indent: -9999px;
                                    padding: 0px;
                                    width: 36px;
                                    height:36px;
                                    margin:28px 0 0 12px;


                                }

                                a.facebook {
                                    background:black;
                                    @include background-image('sm-facebook.png');
                                    border-radius: 100px; 


                                } 
                                &:nth-child(2) {
                                    a {
                                        background:black;
                                        @include background-image('sm-twitter.png');
                                        border-radius: 100px;
                                    }
                                } 
                                &:nth-child(3) {
                                    a {
                                        background:black;
                                        @include background-image('sm-linkedin.png');
                                        border-radius: 100px;
                                    }
                                } 
                                &:nth-child(4) {
                                    a {
                                        background:black;
                                        @include background-image('sm-youtube.png');
                                        border-radius: 100px;
                                    }
                                } 

                            }
                        }

                    }
                }
            }
        }
    }
}