#masthead-link {
  color: $white;
  line-height: 55px;
  text-decoration: none !important;
}

section#block-block-126 {
	background: url(/sites/g/files/net856/f/ip-for-digital-business-feature-.jpg)center top no-repeat;
	background-size: cover;
	height: 90vh;
}
