section#block-bean-trade-marks-landing-block-0 {
    @include landing_page_header_title('tm-banner.jpg', $themecolor:$red);
}

section#block-bean-trade-marks-anchor-menu {
    @include landing_page_anchor_menu();
    @include stick_sub_menu();
}

section#block-bean-understanding-trade-marks-new {
    background: $lighter-grey;
    @include  section_padding(20);
    @include  landing_page_group_block_multiple();
}

section#block-bean-managing-your-trade-mark-block {
    background: $white;
    @include  section_padding(20);
    @include  landing_page_group_block($background: $lighter-grey);
}

section#block-bean-tools-and-resources-trade-mark {
    @include  section_padding(20);
    @include  landing_page_tools_resources($red);
}
section#block-panels-mini-more-about-trade-marks-2-column- {
    @include  section_padding(20);
    @include landing_page_more_about('transparent-pixel-red.png');
}

/// tmp styling 
section#block-bean-all-about-trade-marks-block {
    padding: $gap-large 0px;
    text-align:center;
    ul{
        display: inline-block;
        padding: 0px;
        margin: 0px;
        list-style:none;
        max-width:250px;
        margin: 0px $gap-medium $gap-medium;
        @media only screen and (max-width: $break-point-medium) {
            display:none;
        }
        li {
            a {

            }
        }
    }
    a {
        color: $charcoal;
    }

}
