section#block-bean-patents-landing-block-new {
    @include landing_page_header_title('patents-landing.jpg', $themecolor:$teal);
}

section#block-bean-patents-anchor-menu-3 {
    @include landing_page_anchor_menu();
    @include stick_sub_menu();
}

section#block-bean-patentoverview {
    background-color:#c0e8ea;
    padding: 80px 0;
    .patoverviewcontent {
        text-align:center;
        .patwrap {
            display:flex;
            flex-wrap: nowrap;
            @media screen and (max-width:$break-point-medium) {
                flex-wrap:wrap;
            }
            .boxes {
                background-color:$white;
                width:25%;
                padding:20px;
                margin: 10px 5px;
                @media screen and (max-width:$break-point-medium) {
                    background-color:$white;
                    width:46%;
                    padding:20px;
                    margin: 10px 5px;
                }
                @media screen and (max-width:$break-point-small +100) {
                    width:100%;
                    padding:10px;
                }
                div {
                    //max-width: 60%;
                    padding-bottom: 1%;
                    &:before {
                        background-size: 100% auto;
                        content: ".";
                        display: block;
                        background-repeat: no-repeat;
                        height: 147px;
                        width: 147px;
                        border-radius:1000px;
                        margin:auto;
                        @media screen and (max-width:$break-point-xlarge) {
                            height:150px;
                            width:150px;
                        }
                        @media screen and (max-width:$break-point-large) {
                            height:120px;
                            width:120px;
                        }
                        @media screen and (max-width:$break-point-large -1) {
                            height:80px;
                            width:80px;
                            background-size: 60% auto;

                        }
                        @media screen and (max-width:$break-point-medium) {
                            height:181px;
                            width:181px;
                            background-size: 100% auto;
                        }
                    }
                    &:hover {
                        &:before {
                        background-size: 190px 190px !important;
                        box-shadow: inset 0 0 0 16px rgba(0,0,0,0.7);
                        transition: all 0.2s ease-in-out;
                        border-radius:1000px;
                        }
                    }
                    &.img1 {
                        &:before {
                            @include background-image('application-process/pat-gen/1.png')
                        }
                    }
                    &.img2 {
                        &:before {
                            @include background-image('application-process/pat-gen/2.png')
                        }
                    }
                    &.img3 {
                        &:before {
                            @include background-image('application-process/pat-gen/3.png')
                        }
                    }
                    &.img4 {
                        &:before {
                        @include background-image('application-process/pat-gen/4.png')
                        }
                    }
                }
                a {
                    color:$white;
                    text-decoration:none !important;
                    &:hover {
                        text-decoration:underline !important;
                    }
                }
                .links {
                    background-color:#00829c;
                    width:100%;
                    padding:5px 0;
                }
                h3 {
                    height:64px;
                    @media screen and (max-width:$break-point-medium) {
                        height:inherit;
                    }
                }
                .proctext {
                    min-height:110px;
                    @media screen and (max-width:$break-point-small +100) {
                        min-height:auto;
                    }
                }
            }
        }
    }
}


section#block-bean-understanding-patents {
    background: $lighter-grey;
    @include  section_padding(20);
    @include  landing_page_group_block_multiple($height:480px);
}


section#block-bean-managing-your-patent-block {
    background: $white;
    @include  section_padding(20);
    @include  landing_page_group_block($background: $lighter-grey, $height:420px);
}

section#block-bean-tools-and-resources {
    @include  section_padding(20);
    @include  landing_page_tools_resources($teal);
}

section#block-panels-mini-more-about-patents-2-col-panel {
    @include  section_padding(20);
    @include landing_page_more_about('transparent-pixel-teal.png');
}