section#block-bean-patents-landing-block-new {
    @include landing_page_header_title('patents-landing.jpg', $themecolor:$teal);
}

section#block-bean-patents-anchor-menu-3 {
    @include landing_page_anchor_menu();
    @include stick_sub_menu();
}

section#block-bean-patentoverview {
    .img1:before {
        background-image: url("../images/application-process/pat-gen/1.png");
        background-size: 100% auto;
        content: ".";
        display: block;
        background-repeat: no-repeat;
        min-height: 181px;
    }
    .img1 {
        margin:auto;
        max-width: 60%;
        padding-bottom: 1%;
    }
    .img2:before {
        background-image: url("../images/application-process/pat-gen/2.png");
        background-size: 100% auto;
        content: ".";
        display: block;
        background-repeat: no-repeat;
        min-height: 181px;
    }
    .img2 {
        margin:auto;
        max-width: 60%;
        padding-bottom: 1%;
    }
    .img3:before {
        background-image: url("../images/application-process/pat-gen/3.png");
        background-size: 100% auto;
        content: ".";
        display: block;
        background-repeat: no-repeat;
        min-height: 181px;
    }
    .img3 {
        margin:auto;
        max-width: 60%;
        padding-bottom: 1%;
    }
    .img4:before {
        background-image: url("../images/application-process/pat-gen/4.png");
        background-size: 100% auto;
        content: ".";
        display: block;
        background-repeat: no-repeat;
        min-height: 181px;
    }
    .img4 {
        margin:auto;
        max-width: 60%;
        padding-bottom: 1%;
    }
}

//remove after patents content release
section#block-bean-understanding-patents-block {
    background: $lighter-grey;
    @include  section_padding(20);
    @include  landing_page_group_block();
}

section#block-bean-understanding-patents-block-0 {
    background: $lighter-grey;
    @include  section_padding(20);
    @include  landing_page_group_block_multiple($height: 420px);
}

.patoverviewcontent {
    text-align:center;
}
section#block-bean-patentoverview {
    background-color:#c0e8ea;
    padding: 80px 0;
}
.patwrap {
    display:flex;
    flex-wrap:no-wrap;
}
.boxes {
    background-color:#fff;
    width:25%;
    padding:20px;
    margin: 10px 5px;
}
.boxes a {
    color:#fff;
    text-decoration:none !important;
}
.boxes a:hover {
    color:#fff;
    text-decoration:underline !important;
}
.boxes .links {
    background-color:#00829c;
    width:100%;
    padding:5px 0;
}
.boxes h3 {
    height:64px;
}

.boxes .proctext {
    min-height:110px;
}

section#block-bean-managing-your-patent-block {
    background: $white;
    @include  section_padding(20);
    @include  landing_page_group_block($background: $lighter-grey);
}

section#block-bean-tools-and-resources {
    @include  section_padding(20);
    @include  landing_page_tools_resources($teal);
}

section#block-panels-mini-more-about-patents-2-col-panel {
    @include  section_padding(20);
    @include landing_page_more_about('transparent-pixel-teal.png');
}

/// tmp styling 
section#block-bean-all-about-patents-block {
    background: $teal;
    //background: #C3e6e8;
    padding: $gap-large 0px;
    text-align:center;


    .panels-flexible-region-inside {
        //.panels-flexible-region-four_rows_with_1_x_3_x_3_x_2_columns-2nd_row_left,
        //.panels-flexible-region-four_rows_with_1_x_3_x_3_x_2_columns-2nd_row_centre,
        //.panels-flexible-region-four_rows_with_1_x_3_x_3_x_2_columns-2nd_row_right,
        //.panels-flexible-region-four_rows_with_1_x_3_x_3_x_2_columns-3rd_row_left
        .panels-flexible-region {
            @media only screen and (max-width: $break-point-medium) {
                width:100% !important;
                float:none;
            }
        }
/*         margin: 0 20px;
        padding: 40px;
        background: $white;
        height: 350px;
        overflow-y: hidden; */
        h2 {
            color: $white;
            padding: 30px;
        }
        ul {
            background: $white;
            padding: 20px;
            list-style: none;
            li.main-list-item-patent {
                ul {
                    li {
                        text-align: left;
                        padding: 0px 0 0 30px;
                        margin: 0px;
                        background: transparent url("../images/link-tool.png") center center no-repeat;
                        background-position: left 0px;
                        a {

                        }
                    }
                }
            }
        }
    }
}
/*@media screen and (min-width:$break-point-medium) {
    body .patwrap {
    display:flex;
    flex-wrap:no-wrap;
    }
    body .boxes {
    background-color:#fff;
    width:25%;
    padding:20px;
    margin: 10px 5px;
    }
}*/
@media screen and (max-width:1200px) {
    section#block-bean-patentoverview {
    .img1:before { 
        min-height:150px;
    }
    .img2:before { 
        min-height:150px;
    }
    .img3:before { 
        min-height:150px;
    }
    .img4:before { 
        min-height:150px;
    }
}
}
@media screen and (max-width:992px) {
    section#block-bean-patentoverview {
    .img1:before { 
        min-height:120px;
    }
    .img2:before { 
        min-height:120px;
    }
    .img3:before { 
        min-height:120px;
    }
    .img4:before { 
        min-height:120px;
    }   
    } 
}
@media screen and (max-width:991px) {
    section#block-bean-patentoverview {
    .img1:before { 
        min-height:80px;
    }
    .img2:before { 
        min-height:80px;
    }
    .img3:before { 
        min-height:80px;
    }
    .img4:before { 
        min-height:80px;
    }  
    }  
}
@media screen and (max-width:$break-point-medium) {
    .patwrap {
    display:flex;
    flex-wrap:wrap;
    }
    .boxes {
    background-color:#fff;
    width:46%;
    padding:20px;
    margin: 10px 5px;
    }
    section#block-bean-patentoverview {
    .img1:before { 
        min-height:181px;
    }
    .img2:before { 
        min-height:181px;
    }
    .img3:before { 
        min-height:181px;
    }
    .img4:before { 
        min-height:181px;
    }
    }    
}