section#block-panels-mini-news-four-item-display, section#block-panels-mini-blog-four-item-display, section#block-panels-mini-events-four-item-display, section#block-panels-mini-case-studies-four-item-display, section#block-panels-mini-official-notices-four-item-displ {
  padding: 80px 0px 100px;
}
section#block-bean-stay-informed-block {
    @include full_width_block();
}

.page-node-61311 section#block-panels-mini-news-four-item-display .container > div .center-wrapper table td, .page-node-61311 section#block-panels-mini-official-notices-four-item-displ .container > div .center-wrapper table td {
  width: 25%;
  padding: 0px 10px;
  vertical-align: top;
  position:relative;
  padding-right:15px;
}

.page-node-61311 section#block-panels-mini-news-four-item-display .container > div .center-wrapper table td img, .page-node-61311 section#block-panels-mini-official-notices-four-item-displ .container > div .center-wrapper table td img {
  height:260px;
  width:100%;
}
.page-node-61311 section#block-panels-mini-news-four-item-display .container > div .center-wrapper table td .views-field-title, .page-node-61311 section#block-panels-mini-official-notices-four-item-displ .container > div .center-wrapper table td .views-field-title {
  font: normal 18px "montserratregular", sans-serif;
font-size: 21px;
height: 100px;
letter-spacing: -1.2px;
line-height: 23px;
overflow: hidden;
margin-top: -100px;
line-height: 20px;
}

.page-node-61311 section#block-panels-mini-news-four-item-display, .page-node-61311 section#block-panels-mini-blog-four-item-display, .page-node-61311 section#block-panels-mini-events-four-item-display, .page-node-61311 section#block-panels-mini-case-studies-four-item-display, .page-node-61311 section#block-panels-mini-official-notices-four-item-displ {
    color: $charcoal;
    margin-left:0px !important;
    .views-view-grid {
        td {
            position: relative;
            vertical-align: top;
            width: 25%;


            div[class*="image"] {
                position:relative;
                z-index:10;
                img {
                    display: inline-block;
                    height: 280px;
                }
            }
            div[class*="date"] {
                @include news-community-texts;
                padding-top:23px;
                height:44px;
                text-overflow: ellipsis;
                overflow:hidden;
                span[class*="label "] {
                    float: left;
                }
                margin-top: -140px;
            }
            div[class*="title"],  div[class*="location"]{
                @include news-community-texts;
                clear: both;
                font:$title-h5;
                font-family:$font-title-normal;
                height:95px !important;
                overflow: hidden;
                text-overflow: ellipsis;
                text-decoration: underline;
                padding:6px 20px;
                a {
                    color:white;
                    text-decoration: underline;
                }
            }
            div[class*="location"] {
                @include news-community-texts;
            }
            div[class*="body"] {
                @include news-community-texts;
                height: 240px;
                overflow: hidden;
                display: none;
                text-overflow: ellipsis;

            }
            &:hover {
                div[class*="date"] {
                    margin-top: -280px
                }
                div[class*="body"] {
                    display: block;
                }
            }
        }
    }
}
.page-node-61311 section#block-panels-mini-news-four-item-display .views-view-grid td div[class*="date"], section#block-panels-mini-official-notices-four-item-displ .views-view-grid td div[class*="date"] {
    text-align: left;
    background: transparent url("../images/transparent-pixel-purple_v2.png") center center repeat;
    padding: 0px 20px;
    margin: 0 auto;
    color: white;
    width: 280px;
    display: block;
    position: relative;
    z-index: 100;
    padding-top: 23px;
    height: 44px;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-top: -140px;
}
