/** 
 * Policy Reigster / Policy Register Archive
 * 
 */

article {
    &#node-65901 {
        margin: 0 !important;
        padding: 0 !important;
    }
    &.node-policy-register-publication {
        margin: 0 !important;
        padding: 0 !important;

        .field-label {
            font-weight: bold; 
            padding: 1em 0;
        }

        .field-item {
            padding: 1em 0;
        }

        .field-name-field-issue-summary {
            .field-label {
                font-size: 1.4em;
            }
        }

        .field-name-field-history {
            .field-label {
                font-size: 1.4em;
            }
        }

        .field-name-field-comments {
            .field-label {
                font-size: 1.4em;
            }
        }
    }
}


//View 
.view-policy-register {
    .view-filters {
        background-color: lightgray;
        border: 1px solid gray;
        padding: 1em; 
        margin: 1em auto;
    }
    .item-list {
        ul {
            list-style-type: none;
            margin: 1em 0;
            padding: 0;
            overflow: hidden;

            li {
                border: 1px solid lightgray;
                padding: 1em;
                box-shadow: 2px 2px 6px grey;
                margin: .4em;
                min-height: 600px;
                border-left: 10px solid #0d252c;
                &.col-md-4 {
                    width:32%;
                }
            }
        }
    }
}



//Legend block
#block-block-61, 
#block-block-71 {
    display: block;
    margin: 1em auto; 
    padding: 0;

    h2 {
        font-size: 1.4em;
    }

    h3 {
        font-size: 1.25em; 
    }

    h4 { 
        font-size: 1.1em;
    }

    table {
        display: table;
        border-collapse: collapse;
        border-spacing: 0;
        border-color: grey;
        margin: 1em 0;
        width: 100%;
        font-size: .8em;

        th, td {
            padding: .4em;
        }

        th {
            border-top: 1px solid white;
            border-bottom: 1px solid white;
            border-left: 1px solid white;
            width: 20%;
        }

        td {
            border: 1px solid lightgray;
        }
        
        .gray {
            background-color: gray;
            color: white;
        }

        .lightgray {
            background-color: lightgrey;
            color: black;
        }

        .italic {
            font-style: italic;
        }

        .bold {
            font-weight: bold;
        }
    }
}

//Other relavant block
#block-block-56 {
    background: #eff0f2;
    padding: 2em 2em 3em 2em;
}

//Back to home button
#block-block-51 {
    display: block;
    position: relative;
    margin: 1em 0;
    padding: 0;
    .back-to-home-pr {
        a {
            display: block;
            position: relative;
            width: 14%;
            padding: .6em;
            background-color: #de4326;
            color: white;
            text-decoration: none;
            &:hover {
                box-shadow: 2px 2px 6px;
            }
            &:before {

            }
        }
    }
}

//Webform
#block-webform-client-block-65641 {
    margin-bottom: 1em;
}

.page-policy-register-search {
    #block-webform-client-block-65641 {
        display: none;
        visibility: hidden;
    }
}

//privacy_statement 
#privacy_statement {
    background: #e4d3d0;
    padding: 1em;
    margin-top: 1em;
    border: 1px solid #de4326;
    font-weight: bold;
}

#dialog {
    padding: 1em;
}