/** 
 * Policy Reigster / Policy Register Archive
 * 
 */

article {
    &#node-65901 {
        margin:0;
        padding: 0;
    }
} 

//View 
.view-policy-register {
    .view-filters {
        background-color: lightgray;
        border: 1px solid gray;
        padding: 1em; 
        margin: 1em auto;
    }
    .item-list {
        ul {
            list-style-type: none;
            margin: 1em 0;
            padding: 0;
            overflow: hidden;

            li {
                border: 1px solid lightgray;
                padding: 1em;
                box-shadow: 2px 2px 6px grey;
                margin: .4em;
                min-height: 580px;
                &.col-md-4 {
                    width:32%;
                }
            }
        }
    }
}



//Legend block
#block-block-61 {
    display: block;
    margin: 1em auto; 
    padding: 0;

    h2 {
        font-size: 1.4em;
    }

    h3 {
        font-size: 1.25em; 
    }

    h4 { 
        font-size: 1.1em;
    }

    table {
        display: table;
        border-collapse: collapse;
        border-spacing: 0;
        border-color: grey;
        margin: 1em 0;
        width: 100%;
        font-size: .8em;

        th, td {
            padding: .4em;
        }

        th {
            border-top: 1px solid white;
            border-bottom: 1px solid white;
            border-left: 1px solid white;
            width: 20%;
        }

        td {
            border: 1px solid lightgray;
        }
        
        .gray {
            background-color: gray;
            color: white;
        }

        .lightgray {
            background-color: lightgrey;
            color: black;
        }

        .italic {
            font-style: italic;
        }

        .bold {
            font-weight: bold;
        }
    }
}