.page-search {
  // breadcrumbs
  .breadcrumbs,
  .search-info {
    display: none;
  }

  // heading
  @media only screen and (min-width: $break-point-medium) {
    #block-system-main {
      margin-top: -4.5em;
    }

    header nav .nav-tabs li a {
      line-height: normal;
    }

    .title {
      height: 2em;
      padding-top: 0;
    }
  }

  // other site searches
  #block-bean-search-ip-rights {
    height: auto;
    padding-bottom: .75em;
    padding-top: .75em;

    div {
      height: auto;
      padding: 0;
    }
  }

  #block-bean-search-ip-rights .panels-flexible-row-four_column_panel_with_top_and_bottom-main-row-inside > div {
    background-color: $white;
    border-bottom: 2px solid $lighter-grey;
    padding: .3em;
    width: 100%;

    // mobile
    @media only screen and (max-width: ($break-point-medium - 1)) {
      height: auto;
    }

    // desktop
    @media only screen and (min-width: $break-point-medium) {
      height: 80px;
      margin: 4px -2px;
    }
  }

  // in page search form, query field & search button
  .control-label {
    // hide except for screen readers
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute;
  }

  .search-performance {
    color: $grey;
  }

  // search results div
  .page-results {
    h2 {
      // hide except for screen readers
      clip: rect(1px, 1px, 1px, 1px);
      position: absolute;
    }

    // individual search results, an ordered list of articles and div, both of class node
    .search-results {
      article {
        padding-left: 0;
      }

      .node {
        background-color: $very-light-grey;
        margin-bottom: .5em;
        margin-top: .5em;
        padding: 1em;

        h2 {
          height: 1.3em;
        }

        img {
          float: left;
          margin-right: 20px;
          width: 120px;
        }
      } //end node
    } // end individual results
  } // end page-results

  // pagination keeps bootstrap style
}
