.page-search {
    .search-info {
        display: none;
    }
    .search-snippet-info {
        h1 {
            font-size: 15px;
        }
        img {
            display: none;
        }
    }
    li.search-result {
        display: block;
        background: $color_athens_gray_approx;
        padding: 35px;
        margin-bottom: 10px;
    }
    ol.search-results {
        display: block;
        list-style-type: none;
        padding: 0 !important;
    }
    h3.title {
        decoration: underline;
    }
    .search-result h3 a {
        //color: #od252c;
        text-decoration: underline;
        font-size: 24px;
    }
    .search-snippet-info {
        h2 {
            font-size: 15px;
        }
        h3 {
            font-size: 15px;
        }
        h4 {
            font-size: 15px;
        }
    }
}

section#block-bean-search-ip-rights .panels-flexible-row-four_column_panel_with_top_and_bottom-main-row .panels-flexible-region-inside {
   padding-right: 0;
   padding: 20px;
   background: #fff;
   height: 150px;
   /* overflow-y: hidden; */
   margin-right: 15px;
   margin-bottom:20px;
}

section#block-bean-search-ip-rights {
height:300px;
}

body.page-search-gss {
    .container {
        section {
            ul.tabs--primary {
                display:none;
            }
            .searchhead {
                display:none;
            }
            .google-search-results {
                li.gss-result {
                    display: block;
                    background: $color_athens_gray_approx;
                    padding: 35px;
                    margin-bottom: 10px !important;
                    img.gss-thumbnail-image {
                        float: left;
                        margin: 10px;
                    }
                    .gss-search-url {
                        word-wrap: break-word;
                    }
                }
                .gss-info {
                    display: none;
                }

            }
            .google-search-pager {
                margin: 20px 0;
                ul.pager {
                    margin:0;
                    
                    li {
                        padding:0;
                        box-sizing: border-box;
                        a {
                            border-radius: 0;
                            padding: 6px 12px;
                            margin-left: -1px;
                            float: left;
                        }
                        &.current {
                            background: $charcoal;
                            color: $white;
                            text-decoration: none;
                        }
                    }

                }
            }

        }
    }
}