.page-search {
    .search-info {
        display: none;
    }
    .search-snippet-info {
        h1 {
            font-size: 15px;
        }
        img {
            display: none;
        }
    }
    li.search-result {
        display: block;
        background: $color_athens_gray_approx;
        padding: 35px;
        margin-bottom: 10px;
    }
    ol.search-results {
        display: block;
        list-style-type: none;
        padding: 0 !important;
    }
    h3.title {
        text-decoration: underline;
    }
    .search-result h3 a {
        color: #od252c;
        text-decoration: underline;
        font-size: 24px;
    }
    .search-snippet-info {
        h2 {
            font-size: 15px;
        }
        h3 {
            font-size: 15px;
        }
        h4 {
            font-size: 15px;
        }
    }
}
