// standard page with split header
div.field-name-field-masthead-image {
  img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 0.5em;
  }
}

div.mastheadWrapper {
  background-color: $color_athens_gray_approx;
}
