// standard page with split header
.node-type-standard-page-v2 {
  aside{
    .region-sidebar-first.well {;
      ul {
        li {
          &:first-child {
            border-top: none !important;
            margin-top: -0.25em;
          }
        }
      }
    }
  }

  div.field-name-field-masthead-image {
    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }

  div.mastheadWrapper {
    background-color: #fafafa;
    border-bottom: 0.3em solid #000000;
  }

  .main-container {
    .container {
      padding-top: 0.5em;
      padding-bottom: 0.5em;
    }
  }
}
