//case studies
.page-tools-resources-case-studies {
    .views-row {
        background: $color_athens_gray_approx;
        margin-bottom: 10px;
        .panel-col-last {
            padding-top: 22px;
            width: 70%;
            @media only screen and (max-width: $break-point-small) {
                width: 100%;
            }
            .views-field-field-date {
                color: $color_mountain_mist_approx;
                margin-bottom: 10px;
            }
        }
        .panel-col-first {
            width: 23%;
            img {
                margin: 30px;
                width: 140px;
                height: 140px;
                @media only screen and (max-width: $break-point-xlarge + 200) {
                    margin: 5px;
                    width: 100%;
                    height: auto;
                }
            }
            @media only screen and (max-width: $break-point-small) {
                display: none;
            }
        }
        .views-field-title a {
            color: $color_firefly_approx;
            font-size: 24px;
            font-weight: bold;
            text-decoration: underline;
        }
    }
    .views-field-field-date {
        color: $color_mountain_mist_approx;
        margin-bottom: 10px;
    }
}

//Video
.page-tools-resources-video {
    .views-row {
        background: $color_athens_gray_approx;
        margin-bottom: 10px;
        .panel-col-last {
            padding-top: 22px;
            width: 70%;
            @media only screen and (max-width: $break-point-small) {
                width: 100%;
            }
            .views-field-field-date {
                color: $color_mountain_mist_approx;
                margin-bottom: 10px;
            }
        }
        .panel-col-first {
            width: 23%;
            img {
                margin: 30px;
                width: 140px;
                height: 140px;
                @media only screen and (max-width: $break-point-xlarge + 200) {
                    margin: 5px;
                    width: 100%;
                    height: auto;
                }
            }
            @media only screen and (max-width: $break-point-small) {
                display: none;
            }
        }
        .views-field-title a {
            color: $color_firefly_approx;
            font-size: 24px;
            font-weight: bold;
            text-decoration: underline;
        }
    }
    .views-field-field-date {
        color: $color_mountain_mist_approx;
        margin-bottom: 10px;
    }
}

//Blog
 .page-about-us-news-and-community-blog {
    .views-row {
        background: $color_athens_gray_approx;
        margin-bottom: 10px;
        .panel-col-last {
            padding-top: 22px;
            width: 70%;
            @media only screen and (max-width: $break-point-small) {
                width: 100%;
            }
            .views-field-field-date {
                color: $color_mountain_mist_approx;
                margin-bottom: 10px;
            }
        }
        .panel-col-first {
            width: 23%;
            img {
                margin: 30px;
                width: 140px;
                height: 140px;
                @media only screen and (max-width: $break-point-xlarge + 200) {
                    margin: 5px;
                    width: 100%;
                    height: auto;
                }
            }
            @media only screen and (max-width: $break-point-small) {
                display: none;
            }
        }
        .views-field-title a {
            color: $color_firefly_approx;
            font-size: 24px;
            font-weight: bold;
            text-decoration: underline;
        }
    }
    .views-field-field-date {
        color: $color_mountain_mist_approx;
        margin-bottom: 10px;
    }
}

//Events
.page-about-us-news-and-community-events {
    .views-row {
        background: $color_athens_gray_approx;
        margin-bottom: 10px;
        .panel-col-last {
            padding-top: 22px;
            width: 70%;
            @media only screen and (max-width: $break-point-small) {
                width: 100%;
            }
            .views-field-field-date {
                color: $color_mountain_mist_approx;
                margin-bottom: 10px;
            }
        }
        .panel-col-first {
            width: 23%;
            img {
                margin: 30px;
                width: 140px;
                height: 140px;
                @media only screen and (max-width: $break-point-xlarge + 200) {
                    margin: 5px;
                    width: 100%;
                    height: auto;
                }
            }
            @media only screen and (max-width: $break-point-small) {
                display: none;
            }
        }
        .views-field-title a {
            color: $color_firefly_approx;
            font-size: 24px;
            font-weight: bold;
            text-decoration: underline;
        }
    }
    .views-field-field-date {
        color: $color_mountain_mist_approx;
        margin-bottom: 10px;
    }
}

//pbr journals
.page-tools-resources-pbr-journals, .page-tools-resources-patent-journals {
    .views-row {
        background: $color_athens_gray_approx;
        margin-bottom: 10px;
        .panel-col-last {
            padding-top: 22px;
            width: 70%;
            @media only screen and (max-width: $break-point-small) {
                width: 100%;
            }
            .views-field-field-date {
                color: $charcoal;
                margin-bottom: 10px;
                font-size: 20px;
            }
        }
        .panel-col-first {
            width: 23%;
            img {
                margin: 30px;
                width: 140px;
                height: 140px;
                @media only screen and (max-width: $break-point-xlarge + 200) {
                    margin: 5px;
                    width: 100%;
                    height: auto;
                }
            }
            @media only screen and (max-width: $break-point-small) {
                display: none;
            }
        }
    }
}



//news
.view-id-news, .view-id-trade_mark_certification_rules, .view-id-education {
    .views-row {
        background: $color_athens_gray_approx;
        margin-bottom: 10px;
        .panel-col-last {
            padding-top: 22px;
            width: 70%;
            @media only screen and (max-width: $break-point-small) {
                width: 100%;
            }
            .views-field-field-news-date {
                color: $color_mountain_mist_approx;
                margin-bottom: 10px;
            }
        }
        .panel-col-first {
            width: 23%;
            img {
                margin: 30px;
                width: 140px;
                height: 140px;
                @media only screen and (max-width: $break-point-xlarge + 200) {
                    margin: 5px;
                    width: 100%;
                    height: auto;
                }
            }
            @media only screen and (max-width: $break-point-small) {
                display: none;
            }
        }
        .views-field-title a {
            color: $color_firefly_approx;
            font-size: 24px;
            font-weight: bold;
            text-decoration: underline;
        }
        .views-label {
            float: left;
            margin-right: 5px;
        }
    }
}
//adds charcoal coloured tags across the views.
.views-field-field-tags {
    ul {
        list-style: none;
        padding: 0;
        margin-top: 10px;
        li {
            display: inline-block;
            background: $charcoal;
            color: $white;
            padding: 5px;
            margin: 0px 0px 0px 5px;
        }
    }
}
//official notices
.page-about-us-news-and-community-official-notice {
    .views-row {
        background: $color_athens_gray_approx;
        margin-bottom: 10px;
        .panel-col-last {
            padding-top: 22px;
            width: 70%;
            @media only screen and (max-width: $break-point-small) {
                width: 100%;
            }
            .views-field-field-news-date {
                color: $color_mountain_mist_approx;
                margin-bottom: 10px;
            }
        }
        .panel-col-first {

            width: 23%;
            img {
                margin: 30px;
                width: 140px;
                height: 140px;
                @media only screen and (max-width: $break-point-xlarge + 200) {
                    margin: 5px;
                    width: 100%;
                    height: auto;
                }
            }
            @media only screen and (max-width: $break-point-small) {
                display: none;
            }
        }
        .views-field-title a {
            color: $color_firefly_approx;
            font-size: 24px;
            font-weight: bold;
            text-decoration: underline;
        }
    }
    .views-field-field-tags {
        ul {
            list-style: none;
            padding: 0;
            margin-top: 10px;
            li {
                display: inline-block;
                background: $charcoal;
                color: $white;
                padding: 5px;
                margin: 0px 0px 0px 5px;
            }
        }
    }
}

//current vacancies
.page-about-us-careers-current-vacancies-listing {
    .views-row {
        background: $color_athens_gray_approx;
        margin-bottom: 10px;
        .panel-col-last {
            padding-top: 22px;
            width: 70%;
            @media only screen and (max-width: $break-point-small) {
                width: 100%;
            }
            .views-field-field-news-date {
                color: $color_mountain_mist_approx;
                margin-bottom: 10px;
            }
        }
        .panel-col-first {
            width: 23%;
            img {
                margin: 30px;
                width: 140px;
                height: 140px;
                @media only screen and (max-width: $break-point-xlarge + 200) {
                    margin: 5px;
                    width: 100%;
                    height: auto;
                }
            }
            @media only screen and (max-width: $break-point-small) {
                display: none;
            }
        }
        .views-field-title a {
            color: $color_firefly_approx;
            font-size: 24px;
            font-weight: bold;
            text-decoration: underline;
        }
    }
    .views-field-field-tags {
        ul {
            list-style: none;
            padding: 0;
            margin-top: 10px;
            li {
                display: inline-block;
                background: $charcoal;
                color: $white;
                padding: 5px;
                margin: 0px 0px 0px 5px;
            }
        }
    }
}

//reports
.page-tools-resources-publications---reports {
    .views-row {
        background: $color_athens_gray_approx;
        margin-bottom: 10px;
        .panel-col-first {
            width: 23%;
            img {
                margin: 30px;
                width: 140px;
                height: 140px;
                @media only screen and (max-width: $break-point-xlarge + 200) {
                    margin: 5px;
                    width: 100%;
                    height: auto;
                }
            }
            @media only screen and (max-width: $break-point-small) {
                display: none;
            }
        }
        .panel-col-last {
            width: 70%;
            @media only screen and (max-width: $break-point-small) {
                width: 100%;
            }
            padding-top: 30px;
        }
        .date-display-single {
            color: $color_mountain_mist_approx;
        }
        .views-field-title a {
            color: $color_firefly_approx;
            font-size: 24px;
            font-weight: bold;
            text-decoration: underline;
        }
    }
    .views-label-field-publish-online-date {
        color: $color_mountain_mist_approx;
    }
}

//forms
.page-tools-resources-pdf-forms .views-row {
    background: $color_athens_gray_approx;
    margin-bottom: 10px;
    padding: 20px;
    .date-display-single {
        color: $color_mountain_mist_approx;
    }
    .views-label-field-publish-online-date {
        display: none;
    }
    .views-field-title a {
        color: $color_firefly_approx;
        font-size: 24px;
        font-weight: bold;
        text-decoration: underline;
    }
}
.page-tools-resources-patents-forms .views-row {
    background: $color_athens_gray_approx;
    margin-bottom: 10px;
    padding: 20px;
    .date-display-single {
        color: $color_mountain_mist_approx;
    }
    .views-label-field-publish-online-date {
        display: none;
    }
    .views-field-title a {
        color: $color_firefly_approx;
        font-size: 24px;
        font-weight: bold;
        text-decoration: underline;
    }
}
.page-tools-resources-trade-marks-forms .views-row {
    background: $color_athens_gray_approx;
    margin-bottom: 10px;
    padding: 20px;
    .date-display-single {
        color: $color_mountain_mist_approx;
    }
    .views-label-field-publish-online-date {
        display: none;
    }
    .views-field-title a {
        color: $color_firefly_approx;
        font-size: 24px;
        font-weight: bold;
        text-decoration: underline;
    }
}
.page-tools-resources-designs-forms .views-row {
    background: $color_athens_gray_approx;
    margin-bottom: 10px;
    padding: 20px;
    .date-display-single {
        color: $color_mountain_mist_approx;
    }
    .views-label-field-publish-online-date {
        display: none;
    }
    .views-field-title a {
        color: $color_firefly_approx;
        font-size: 24px;
        font-weight: bold;
        text-decoration: underline;
    }
}
.page-tools-resources-pbr-forms .views-row {
    background: $color_athens_gray_approx;
    margin-bottom: 10px;
    padding: 20px;
    .date-display-single {
        color: $color_mountain_mist_approx;
    }
    .views-label-field-publish-online-date {
        display: none;
    }
    .views-field-title a {
        color: $color_firefly_approx;
        font-size: 24px;
        font-weight: bold;
        text-decoration: underline;
    }
}

.field-name-field-online-services-link {
    background: #eaeaea url(../images/eservices-forms.jpg) no-repeat right center;
    padding: 10px;
    min-height: 110px;
    margin: 20px 0;
    @media only screen and (max-width: $break-point-large) {
        background: #eaeaea;
    }
}


//foi
.view-foi-disclosure-log {
    .views-row {
    background: $color_athens_gray_approx;
    padding: 5px 20px 15px;
    margin-bottom: 10px;
    }
}
.view-id-official_notices {
    .views-row {
    background: $color_athens_gray_approx;
    padding: 5px 20px 15px;
    margin-bottom: 10px;
    }
}
article.node-official-notice {
    .field-name-field-publication-name-and-date {
        .field-item {
            background: $color_athens_gray_approx;
            padding: 15px;
            margin-bottom: 10px;
        }
    }
}


//ip-report-2016
section#block-bean-ip-report-anchor-menu {
    @include landing_page_anchor_menu();
    @include stick_sub_menu();
}
section#block-bean-news-and-community-landing-page- {
    @include landing_page_anchor_menu();
    @include stick_sub_menu();
}

section#block-panels-mini-case-studies-four-item-display, section#block-panels-mini-official-notices-four-item-displ {
    @include landing_page_more_about();
}
