/*.page-tools-resources-case-studies {
    .views-row {
        background: $color_athens_gray_approx;
        margin-bottom: 10px;
        .panel-col-last {
            padding-top: 22px;
            width: 70%;
            .views-field-field-date {
                color: $color_mountain_mist_approx;
                margin-bottom: 10px;
            }
        }
        .panel-col-first {
            width: 23%;
            img {
                margin: 30px;
                width: 140px;
                height: 140px;
            }
        }
        .views-field-title a {
            color: $color_firefly_approx;
            font-size: 24px;
            font-weight: bold;
            text-decoration: underline;
        }
    }
    .views-field-field-date {
        color: $color_mountain_mist_approx;
        margin-bottom: 10px;
    }
}
.page-tools-resources-publications---reports {
    .views-row {
        background: $color_athens_gray_approx;
        margin-bottom: 10px;
        .panel-col-first {
            width: 23%;
            img {
                margin: 30px;
                width: 140px;
                height: 140px;
            }
        }
        .panel-col-last {
            width: 70%;
            padding-top: 30px;
        }
        .date-display-single {
            color: $color_mountain_mist_approx;
        }
        .views-field-title a {
            color: $color_firefly_approx;
            font-size: 24px;
            font-weight: bold;
            text-decoration: underline;
        }
    }
    .views-label-field-publish-online-date {
        color: $color_mountain_mist_approx;
    }
}
.page-tools-resources-pdf-forms .views-row {
    background: $color_athens_gray_approx;
    margin-bottom: 10px;
    padding: 20px;
    .date-display-single {
        color: $color_mountain_mist_approx;
    }
    .views-label-field-publish-online-date {
        display: none;
    }
    .views-field-title a {
        color: $color_firefly_approx;
        font-size: 24px;
        font-weight: bold;
        text-decoration: underline;
    }
}
.page-tools-resources-patents-forms .views-row {
    background: $color_athens_gray_approx;
    margin-bottom: 10px;
    padding: 20px;
    .date-display-single {
        color: $color_mountain_mist_approx;
    }
    .views-label-field-publish-online-date {
        display: none;
    }
    .views-field-title a {
        color: $color_firefly_approx;
        font-size: 24px;
        font-weight: bold;
        text-decoration: underline;
    }
}
.page-tools-resources-trade-marks-forms .views-row {
    background: $color_athens_gray_approx;
    margin-bottom: 10px;
    padding: 20px;
    .date-display-single {
        color: $color_mountain_mist_approx;
    }
    .views-label-field-publish-online-date {
        display: none;
    }
    .views-field-title a {
        color: $color_firefly_approx;
        font-size: 24px;
        font-weight: bold;
        text-decoration: underline;
    }
}
.page-tools-resources-designs-forms .views-row {
    background: $color_athens_gray_approx;
    margin-bottom: 10px;
    padding: 20px;
    .date-display-single {
        color: $color_mountain_mist_approx;
    }
    .views-label-field-publish-online-date {
        display: none;
    }
    .views-field-title a {
        color: $color_firefly_approx;
        font-size: 24px;
        font-weight: bold;
        text-decoration: underline;
    }
}
.page-tools-resources-pbr-forms .views-row {
    background: $color_athens_gray_approx;
    margin-bottom: 10px;
    padding: 20px;
    .date-display-single {
        color: $color_mountain_mist_approx;
    }
    .views-label-field-publish-online-date {
        display: none;
    }
    .views-field-title a {
        color: $color_firefly_approx;
        font-size: 24px;
        font-weight: bold;
        text-decoration: underline;
    }
}*/