
.collaboration-steps {
  h2, .description, p  {
    text-align: center;
  }
  h2 {
    margin: 0 0 $gap-small;
  }
  .description {
    font-size: 1.3em;
    font-family: $font_3;
  }
  ul {
    text-align: center;
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      cursor: pointer;
      padding: 30px 20px 54px;
      display: inline-block;
      vertical-align: top;
      counter-increment: process-counter;
      margin: $gap-medium /2 0;
      width: 240px;
      @media only screen and (max-width: $break-point-large + 200) {
        padding: 30px 25px 2px;
      }
      @media only screen and (max-width: $break-point-medium) {
        width: 210px;
      }
      @media only screen and (max-width: $break-point-small) {
        padding: 30px 15px 20px;
        width: 180px;
      }

      .image {
        width: 150px;
        height: 150px;
        display: inline-block;
        border-radius: 1000px;
        background-color: $white;
        background-size: 150px 150px !important;
        @media only screen and (max-width: $break-point-midsmall) {
          width: 150px;
          height: 150px;
        }
      }
      &:hover {
        .image {
          background-size: 160px 160px !important;
          box-shadow: inset 0 0 0 16px rgba(0,0,0,0.7);
          transition: all 0.2s ease-in-out;
        }
      }
      h4 {
        color: $charcoal;
        line-height: 1.1;
        @media only screen and (max-width: $break-point-large + 200) {
          white-space: nowrap;
          text-overflow: ellipsis;
        }
        @media only screen and (max-width: $break-point-large) {
          white-space: normal;
        }
        &::before {
        font-size: 36px;
        font-weight: 600;
        display: block;
        content: counter(process-counter);
        margin-bottom: 10px;
        margin-top: 10px;
          @media only screen and (max-width: $break-point-midsmall) {
            margin-top:5px;
          }
        }
      }
      .brief-description {
        height: 90px;
        overflow: hidden;
        @media only screen and (max-width: $break-point-large + 200) {
          height: 45px;
        }
        @media only screen and (max-width: $break-point-large) {
          height: 90px;
        }
      }
      a {
        display: inline-block;
        margin-top: $gap-small /2;
        text-decoration: underline;
        @include background-image('arrow-right-blue-transparent.png');
        background-position: right center;
        padding-right: 15px;
      }

      $i: 5;
      @while $i > 0 {
        &:nth-child(#{$i}) {
          .image {
            @include background-image('collaboration-steps/step#{$i}.gif');
          }
        }
        $i: $i - 1;
      }
    }

    &.slick-slider {
      li {
        @include background-image('application-process-bar.png');
        background-position: 0px 116px;
        background-repeat: repeat-x;
        &:first-child {
          background-position: 100px 116px;
          background-repeat: no-repeat;
        }
        &:last-child {
          background-position: -100px 116px;
          background-repeat: no-repeat;
        }
      }
      .slick-arrow {
      margin-top: -111px;
      z-index: 100;
        @media only screen and (max-width: $break-point-large - 100) {
          display:none !important;
        }
      }
    }
  }
  .button {
    @include rounded-button-with-arrrow(black,black);
    margin: 0 auto $gap-large;
    color: white;
  }
}