.ip-toolkit-section {
  .header .header-right section.block-search-api-page {
    margin-top: 60px;
  }
  .navbar-default, .breadcrumbs {
    display: none;
  }
  aside {
    @media only screen and (max-width: $break-point-midsmall) {
      display: block;
    }
  }
}

.view-id-ip_toolkit_structure.view-display-id-block_1,
.view-id-ip_toolkit_structure.view-display-id-block_2 {
  background-color: $white;
  box-shadow: 0 1px 1px transparent inset;
  min-height: 20px;
  padding: 0;
  h3 a {
    border-top: 6px solid $black;
    font-size: 16px;
    font-family: robotobold, sans-serif;
  }
  a {
    display: inline-block;
    font-size: 14px;
    width: 100%;
    font-family: robotobold, sans-serif;
    color: $black;
    text-transform: uppercase;
    padding: 20px 15px;
    border-bottom: 2px dotted $lighter-grey;
    &:hover {
      background: $lighter-grey;
      text-decoration: underline;
    }
  }
  .views-row a {
    padding: 20px 35px;
    &:before {
      content: '>';
      font-family: sans-serif;
      width: 15px;
      font-size: 9px;
      display: inline-block;
      opacity: 0.7;
      margin-left: -15px;
    }
  }
}

.view-id-ip_toolkit_page.view-display-id-block_1 {
  padding-top: 20px;
  padding-bottom: 20px;
  .label-above {
    font-size: 25px;
    font-weight: bold;
  }
}

.field-name-field-ip-toolkit-case-studies {
  .label-above {
    font-size: 25px;
    font-weight: bold;
  }
}

.node-ip-toolkit-case-study.node-teaser {
  padding-top: 10px;
  padding-bottom: 10px;
  .group-left {
    float: none;
    width: 25%;
    display: inline-block;
    vertical-align: middle;
    margin-right: 3%;
  }
  .group-right {
    float: none;
    width: 70%;
    display: inline-block;
    vertical-align: middle;
  }
  .field-name-title {
    display: inline-block;
    vertical-align: middle;
    h2 {
      font-size: 16px;
      line-height: 1.2;
      margin-bottom: 0;
    }
  }
  .field-name-body {
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.view-id-ip_toolkit_structure.view-display-id-block {
  .views-row {
    width: 49%;
    display: inline-block;
    text-align: center;
  }
}

.taxonomy-term.vocabulary-ip-toolkit-structure {
  .field-name-title {
    text-decoration: underline;
    font: $title-h4-normal;
    height: 60px;
    padding-top: 15px;
    position: relative;
    top: -60px;
    background: rgba(239, 240, 242, 0.7);
    width: 280px;
    display: inline-block;
    cursor: pointer;
    a {
      color: $white;
    }
  }
  .field-name-field-image {
    img {
      display: inline-block;
    }
  }
}

.view-id-ip_toolkit_structure.view-display-id-panel_pane_1, .view-id-ip_toolkit_page.view-display-id-block {
  .view-content {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
  }
  .views-row {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 48%;
    @media only screen and (max-width: $break-point-midsmall) {
      width: 100%;
    }
    a {
      @include block-links;
    }
  }
}

.pane-custom.block-links {
  ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    li {
      list-style: none;
      width: 48%;
      margin-top: 10px;
      margin-bottom: 10px;
      margin-left: 0;
    }
  }
  a {
    @include block-links;
  }
}
