//if you're reading this something has probably gone wrong. Sorry, and good luck..

.textwrap {
	word-break: normal !important;
}

.nostyle {
	text-decoration:none;
	color:#000;
	background:none;
}

//don't need these
.breadcrumbs {
	display:none;
}