/*
Main title DIV with background image and underline 
*/
div.title {
    background: #efefef;
    padding: 80px 0px;
    border-bottom: 2px solid white;
    @include background-image('designs-banner.jpg');
    h1 {
        color: white;
        border:0px;
        margin: 0px;
        &:after {
            content: '';
            display: block;
            border-top:6px solid white;
            width: 141px;
        }
    }
}