/*Desktop tablet landscape*/
/*Tablet*/
/*Mobile*/
.region {
  border: none;
}

.front #block-system-main {
  display: none;
}

/*.last.leaf.menu-mlid-1816 {
  display: none;
}*/
/*.main-container {
    display: none;
}*/
h2 {
  font: normal 36px "montserratbold";
}

a {
  outline: 0;
}
a:active, a:focus {
  outline: 0;
  text-decoration: none;
  background: transparent;
}

body {
  font: normal 16px "robotoregular";
  font-weight: normal;
}

.messages .alert-block {
  border-radius: 0px;
  padding: 22px 30px;
  border: none;
  margin: 20px 0px;
}
.messages .alert-block.error {
  background: #ffe8ee url("/sites/all/themes/ipaustralia/images/warning.png") 10px center no-repeat;
  padding-left: 60px;
  color: #ed0129;
  font-weight: bold;
}

.resource-list-block {
  padding: 0px;
  margin: 0px;
  color: #1d252c;
  list-style: none;
}
.resource-list-block li {
  background: #fff;
  border: 0px;
  padding: 14px;
  font: normal 16px "robotoregular";
  margin-top: 2px;
}
.resource-list-block li.patents {
  border-left: 10px solid #30aeb6;
  border-left: 5px solid #30aeb6;
  padding-left: 90px;
  background: #fff url("/sites/all/themes/ipaustralia/images/block-patent.png") left center no-repeat;
}
.resource-list-block li.trade-marks {
  border-left: 10px solid #de4326;
  border-left: 5px solid #de4326;
  padding-left: 90px;
  background: #fff url("/sites/all/themes/ipaustralia/images/block-tm.png") left center no-repeat;
}
.resource-list-block li.designs {
  border-left: 10px solid #84c98f;
  border-left: 5px solid #84c98f;
  padding-left: 90px;
  background: #fff url("/sites/all/themes/ipaustralia/images/block-design.png") left center no-repeat;
}
.resource-list-block li.pbr {
  border-left: 10px solid #f1ac1e;
  border-left: 5px solid #f1ac1e;
  padding-left: 90px;
  background: #fff url("/sites/all/themes/ipaustralia/images/block-pbr.png") left center no-repeat;
}

header .logo {
  margin: 0px;
  padding: 0px;
}
@media only screen and (max-width: 768px) {
  header .logo {
    width: 60%;
  }
}
header .logo img {
  margin-top: 40px;
  width: 84%;
}
@media only screen and (max-width: 768px) {
  header .logo img {
    width: 100%;
    margin-top: 15px;
    margin-bottom: 10px;
  }
}
header .header {
  padding: 0 0 30px 0px;
}
@media only screen and (max-width: 768px) {
  header .header {
    padding-bottom: 10px;
    border-bottom: 2px solid #1d252c;
  }
}
header .header .header-right {
  padding-right: 0px;
}
header .header .header-right section {
  float: right;
  margin-top: 20px;
  margin-left: 20px;
}
header .header .header-right section ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
header .header .header-right section ul li {
  float: left;
}
header .header .header-right section ul li a {
  display: block;
  color: #1d252c;
  line-height: 10px;
}
@media only screen and (max-width: 768px) {
  header .header .header-right section {
    display: none;
  }
}
header .header .header-right a {
  color: #1d252c;
}
header .header .header-right .block-govcms-text-resize {
  width: 66px;
}
header .header .header-right .block-govcms-text-resize ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
header .header .header-right .block-govcms-text-resize ul li {
  float: left;
}
header .header .header-right .block-govcms-text-resize ul li a {
  display: block;
  text-indent: -9999px;
  background: #efefef;
  margin-left: 3px;
  height: 19px;
  background: transparent url("/sites/all/themes/ipaustralia/images/font-size-sprite.png") left bottom no-repeat;
}
header .header .header-right .block-govcms-text-resize ul li a.font-small {
  width: 11px;
  background-position: 0px 0px;
}
header .header .header-right .block-govcms-text-resize ul li a.font-large {
  width: 14px;
  background-position: -23px 0px;
}
header .header .header-right .block-govcms-text-resize ul li a.reset {
  width: 32px;
  background-position: -50px 0px;
}
header .header .header-right .block-search-api-page {
  background: #eff0f2 none repeat scroll 0 0;
  clear: both;
  padding: 0;
  width: 360px;
}
header .header .header-right .block-search-api-page input.form-text {
  background: transparent none repeat scroll 0 0;
  border: 0 none;
  box-shadow: none;
  float: left;
  height: auto;
  padding: 13px 20px 15px;
  width: 260px;
}
header .header .header-right .block-search-api-page input.form-text::-webkit-input-placeholder {
  /* Safari, Chrome and Opera */
  color: #1d252c;
}
header .header .header-right .block-search-api-page input.form-text:-moz-placeholder {
  /* Firefox 18- */
  color: #1d252c;
}
header .header .header-right .block-search-api-page input.form-text::-moz-placeholder {
  /* Firefox 19+ */
  color: #1d252c;
}
header .header .header-right .block-search-api-page input.form-text:-ms-input-placeholder {
  /* IE 10+ */
  color: #1d252c;
}
header .header .header-right .block-search-api-page input.form-text::-ms-input-placeholder {
  /* Edge */
  color: #1d252c;
}
header .header .header-right .block-search-api-page input.form-text:placeholder-shown {
  /* Standard one last! */
  color: #1d252c;
}
header .header .header-right .block-search-api-page .form-group {
  margin: 0px;
}
header .header .header-right .block-search-api-page .form-submit {
  background: transparent url("/sites/all/themes/ipaustralia/images/link-search-26px.png") center center no-repeat;
  border: medium none;
  float: right;
  height: 48px;
  margin-right: 11px;
  padding: 0;
  text-indent: -9999px;
  width: 33px;
}
header .header .header-right .block-search-api-page .form-submit:active {
  box-shadow: none;
}
header .header .header-right .block-menu li {
  padding: 10px 10px 10px 0px;
}
header .header .header-right .block-menu a {
  /*font-weight: 600;*/
  font-size: 14px;
  padding: 0px 10px 0 0;
  border-right: 1px solid #1d252c;
}
header .header .header-right .block-menu a:hover {
  background: transparent;
  text-decoration: underline;
}
header .header .header-right .block-menu a:focus {
  background: transparent;
}
header .header .header-right .block-menu .last {
  padding-right: 0px;
}
header .header .header-right .block-menu .last a {
  padding-right: 0px;
  border: none;
}
header .header .header-right .block-bean .bean-link .field-label {
  display: none;
}
header .header .header-right .block-bean .bean-link .field-item {
  border: 1px solid #b6bec0;
  background: transparent url("/sites/all/themes/ipaustralia/images/icon-online-services.png") 19px center no-repeat;
}
header .header .header-right .block-bean .bean-link .field-item a {
  display: block;
  font-family: "montserratbold";
  font-size: 14px;
  line-height: 17px;
  padding: 14px 35px 14px 60px;
  text-decoration: none;
  text-transform: uppercase;
  background: transparent url("/sites/all/themes/ipaustralia/images/arrow-right-online-services.png") right center no-repeat;
}
