/*new css added*/
.node-type-landing-page .panels-flexible-region-inside h3.block-title {
    color: #FFF;
  }
  /* start patent landing block */
.node-type-landing-page #block-bean-patents-landing-block-new {
    background: #1d252c url("../images/patents-landing.jpg") center top no-repeat;
  background-size: 100% auto;
    padding: 60px 10px 20px;
}

.node-type-landing-page #block-bean-patents-landing-block-new .panels-flexible-region-first {
  color:#fff;
  font: normal 20px "robotoregular", sans-serif;
  padding-right: 20%;
}
.node-type-landing-page #block-bean-patents-landing-block-new .panels-flexible-region-first h2 {
    font: normal 60px "montserratregular", sans-serif;
    text-transform: uppercase;
    color:#fff;
}

.node-type-landing-page .panels-flexible-region-two_column_panel_66_33_-left_region{
  color:#FFF;
  font: normal 20px "robotoregular", sans-serif;
  padding-right: 20%;
}
.node-type-landing-page .panels-flexible-region-two_column_panel_66_33_-left_region h2 {
    font: normal 60px "montserratregular", sans-serif;
    text-transform: uppercase;
    color:#FFF;
}
.node-type-landing-page .panels-flexible-region-last ul.tools-resources-list {
    padding: 0px;
    margin: 0px;
    color: #1d252c;
    list-style: none;
    /*background: #fff;*/
    padding-top: 2px;
  }
.node-type-landing-page .panels-flexible-region-last li.patents {
  margin-top: 2px;
    border-top: 0px;
    margin-bottom: 0px;
    padding: 18px 14px;
    font: normal 16px "robotoregular", sans-serif;
    line-height: 22px;
    border: 0px;
    border-left: 10px solid #30aeb6;
    background: #fff;
}
 /* end patent landing block */
/* start patents in page nav */
#block-bean-patents-anchor-menu-3 {
  height:72px;
  text-transform:uppercase;
  padding-top:25px;
  text-align:center;
}
#block-bean-patents-anchor-menu-3 a {
  color:#0d252c;
}
/* end patents in page nav */
/*understanding patents block */
.node-type-landing-page  #block-bean-understanding-patents-block {
    padding: 50px 10px;
    text-align: center;
  }
  .node-type-landing-page  #block-bean-understanding-patents-block .group-footer p, .node-type-landing-page  #block-bean-understanding-patents-block .group-footer a {
    margin-top: 40px;
    border: 2px solid white;
    background: #1d252c;
    padding: 16px 35px 16px;
    display: inline-block;
    border-radius: 100px;
    color: white;
    font-size: 14px;
    text-transform: uppercase;
    font-family: "montserratregular", sans-serif;
    line-height: 14px;
    border-color: #1d252c;
    margin-right: 27px;
    cursor: pointer;
}
.node-type-landing-page #block-bean-understanding-patents-block .group-footer p:after, .node-type-landing-page #block-bean-understanding-patents-block .group-footer a:after {
    background: transparent url("../images/arrow-right-transparent.png") center center no-repeat;
    display: inline-block;
    width: 9px;
    height: 15px;
    content: '';
    margin: 0 0 -2px 10px;
}
.node-type-landing-page #block-bean-understanding-patents-block .group-left, .node-type-landing-page #block-bean-understanding-patents-block .group-right, .node-type-landing-page #block-bean-understanding-patents-block .group-middle{
  background: #FFF;
  text-align: left;
  padding: 20px 40px;
  min-height: 280px;
  width: 30%;
  margin-left: 3%;
  margin-top: 30px;
}
.node-type-landing-page #block-bean-understanding-patents-block {
  background: #EEF0F1;
  font-family: "robotoregular", sans-serif;
  margin-bottom: 2px;
}
/* end understanding patents*/

/*start application process - patent */
.node-type-landing-page #block-bean-patents-landing-page-navigation-, .node-type-landing-page #block-bean-all-about-patents-block{
  background: #C3e6e8;
  padding-top: 40px;
}
.node-type-landing-page #block-bean-patents-landing-page-navigation- li.main-list-item-patent {
   background: #fff;
}
/* end application process - patent */

/* start managing your patent block */
.node-type-landing-page  #block-bean-managing-your-patent-block {
    padding: 40px 10px;
    text-align: center;
  }
  .node-type-landing-page  #block-bean-managing-your-patent-block .group-footer p, .node-type-landing-page  #block-bean-managing-your-patent-block .group-footer a {
    margin-top: 40px;
    border: 2px solid white;
    background: #1d252c;
    padding: 16px 35px 16px;
    display: inline-block;
    border-radius: 100px;
    color: white;
    font-size: 14px;
    text-transform: uppercase;
    font-family: "montserratregular", sans-serif;
    line-height: 14px;
    border-color: #1d252c;
    margin-right: 27px;
    cursor: pointer;
}
.node-type-landing-page #block-bean-managing-your-patent-block .group-footer p:after, .node-type-landing-page #block-bean-managing-your-patent-block .group-footer a:after {
    background: transparent url("../images/arrow-right-transparent.png") center center no-repeat;
    display: inline-block;
    width: 9px;
    height: 15px;
    content: '';
    margin: 0 0 -2px 10px;
}
.node-type-landing-page #block-bean-managing-your-patent-block .group-left, .node-type-landing-page #block-bean-managing-your-patent-block .group-right, .node-type-landing-page #block-bean-managing-your-patent-block .group-middle{
  background: #EEF0F1;
  text-align: left;
  padding: 20px 40px;
  min-height: 280px;
  width: 30%;
  margin-left: 3%;
  margin-top: 30px;
}
.node-type-landing-page #block-bean-managing-your-patent-blockk {
  background: #FFF;
  font-family: "robotoregular", sans-serif;
}

/*end managing your patent block */

/* start tools and resources patent */
.node-type-landing-page #block-bean-tools-and-resources {
  background: #1d252c url("../images/tablet_v2.jpg") center center no-repeat;
  background-size: 120% auto;
  color: white;
  text-align: center;
    background-size: 100% auto;
    padding: 60px 10px 20px;
}
.node-type-landing-page #block-bean-tools-and-resources h2 {
  color:#FFF;
  font-family: "montserratregular", sans-serif;
}
.node-type-landing-page #block-bean-tools-and-resources ul {
  list-style: none;
  text-align: left;
  color:#1D252C;
  padding:0px;
  margin:0px;
}
  .node-type-landing-page #block-bean-tools-and-resources ul li {
  margin-top: 18px;
  padding: 0 30px 0 50px;
  margin-bottom: 18px;
  font-size: 16px;
  background: transparent url("../images/link-tool.png") 17px top no-repeat;
}
.node-type-landing-page #block-bean-tools-and-resources div.bs-vert-callout-patents {
  background: #FFF;
  min-height: 525px;
}
/* end tools and resources patent */

/* start more Patents section */

/* end more Patents section */

  /* start trade marks landing block */
.node-type-landing-page #block-bean-trade-marks-landing-block-0 {
    background: #1d252c url("../images/tm-banner.jpg") center top no-repeat;
  background-size: 120% auto;
    padding: 60px 10px 20px;
}
.node-type-landing-page #block-bean-trade-marks-landing-block-0 .panels-flexible-region-first {
  color:#fff;
  font: normal 20px "robotoregular", sans-serif;
  padding-right: 20%;
}
.node-type-landing-page #block-bean-trade-marks-landing-block-0 .panels-flexible-region-first h2 {
    font: normal 60px "montserratregular", sans-serif;
    text-transform: uppercase;
    color:#fff;
}
.node-type-landing-page #block-bean-trade-marks-landing-block-0 .panels-flexible-region-inside-last ul.tools-resources-list {
    padding: 0px;
    margin: 0px;
    color: #1d252c;
    list-style: none;
    /*background: #fff;*/
    padding-top: 2px;
  }
.node-type-landing-page #block-bean-trade-marks-landing-block-0 .panels-flexible-region-inside-last li.trade-marks {
  margin-top: 2px;
    border-top: 0px;
    margin-bottom: 0px;
    padding: 18px 14px;
    font: normal 16px "robotoregular", sans-serif;
    line-height: 22px;
    border: 0px;
    border-left: 10px solid #DE4326;
    background: #fff;
}
 /* end trade marks landing block */
 /* start trade marks in page nav */
 #block-bean-trade-marks-anchor-menu {
   height:72px;
   text-transform:uppercase;
   padding-top:25px;
   text-align:center;
   vertical-align: middle;
 }
 #block-bean-trade-marks-anchor-menu a {
   color:#0d252c;
 }
 /* end trade marks in page nav */
 /*understanding trade marks block */
.node-type-landing-page  #block-bean-understanding-trade-marks-block {
    padding: 50px 10px;
    text-align: center;
  }
  .node-type-landing-page  #block-bean-understanding-trade-marks-block .group-footer p, .node-type-landing-page  #block-bean-understanding-trade-marks-block .group-footer a {
    margin-top: 40px;
    border: 2px solid white;
    background: #1d252c;
    padding: 16px 35px 16px;
    display: inline-block;
    border-radius: 100px;
    color: white;
    font-size: 14px;
    text-transform: uppercase;
    font-family: "montserratregular", sans-serif;
    line-height: 14px;
    border-color: #1d252c;
    margin-right: 27px;
    cursor: pointer;
}
.node-type-landing-page #block-bean-understanding-trade-marks-block .group-footer p:after, .node-type-landing-page #block-bean-understanding-trade-marks-block .group-footer a:after {
    background: transparent url("../images/arrow-right-transparent.png") center center no-repeat;
    display: inline-block;
    width: 9px;
    height: 15px;
    content: '';
    margin: 0 0 -2px 10px;
}
.node-type-landing-page #block-bean-understanding-trade-marks-block .group-left, .node-type-landing-page #block-bean-understanding-trade-marks-block .group-right, .node-type-landing-page #block-bean-understanding-trade-marks-block .group-middle{
  background: #FFF;
  text-align: left;
  padding: 20px 40px;
  min-height: 280px;
  width: 30%;
  margin-left: 3%;
  margin-top: 30px;
}
.node-type-landing-page #block-bean-understanding-trade-marks-block {
  background: #EEF0F1;
  font-family: "robotoregular", sans-serif;
  margin-bottom: 2px;
}
/* end understanding trade marks*/

/*start application process - trade marks */
.node-type-landing-page #block-bean-trade-marks-application-process {
  background: #f2dede;
  padding-top: 40px;
}
.node-type-landing-page #block-bean-trade-marks-application-process .alert-danger {
  border:none;
}
/*.node-type-landing-page #block-bean-trade-marks-application-process p.more-button:after, .node-type-landing-page #block-bean-understanding-trade-marks-block a.more-button:after {
    background: transparent url("../images/arrow-right-transparent.png") center center no-repeat;
    display: inline-block;
    width: 9px;
    height: 15px;
    content: '';
    margin: 0 0 -2px 10px;
}
  .node-type-landing-page  #block-bean-trade-marks-application-process p.more-button, .node-type-landing-page  #block-bean-trade-marks-application-process a.more-button {
    margin-top: 40px;
    border: 2px solid white;
    background: #1d252c;
    padding: 16px 35px 16px;
    display: inline-block;
    border-radius: 100px;
    color: white;
    font-size: 14px;
    text-transform: uppercase;
    font-family: "montserratregular", sans-serif;
    line-height: 14px;
    border-color: #1d252c;
    margin-right: 27px;
    cursor: pointer;
}*/

/* end application process - trade marks */

/* start managing your trade marks block */
.node-type-landing-page  #block-bean-managing-your-trade-mark-block {
    padding: 60px 10px;
    text-align: center;
  }
  .node-type-landing-page  #block-bean-managing-your-trade-mark-block .group-footer p, .node-type-landing-page  #block-bean-managing-your-trade-mark-block .group-footer a {
    margin-top: 40px;
    border: 2px solid white;
    background: #1d252c;
    padding: 16px 35px 16px;
    display: inline-block;
    border-radius: 100px;
    color: white;
    font-size: 14px;
    text-transform: uppercase;
    font-family: "montserratregular", sans-serif;
    line-height: 14px;
    border-color: #1d252c;
    margin-right: 27px;
    cursor: pointer;
}
.node-type-landing-page #block-bean-managing-your-trade-mark-block .group-footer p:after, .node-type-landing-page #block-bean-managing-your-trade-mark-block .group-footer a:after {
    background: transparent url("../images/arrow-right-transparent.png") center center no-repeat;
    display: inline-block;
    width: 9px;
    height: 15px;
    content: '';
    margin: 0 0 -2px 10px;
}
.node-type-landing-page #block-bean-managing-your-trade-mark-block .group-left, .node-type-landing-page #block-bean-managing-your-trade-mark-block .group-right, .node-type-landing-page #block-bean-managing-your-trade-mark-block .group-middle{
  background: #EEF0F1;
  text-align: left;
  padding: 20px 40px;
  min-height: 280px;
  width: 30%;
  margin-left: 3%;
  margin-top: 30px;
}
.node-type-landing-page #block-bean-managing-your-trade-mark-block {
  background: #FFF;
  font-family: "robotoregular", sans-serif;
}
/*end managing your trade marks block */

/* start tools and resources trade marks */
.node-type-landing-page #block-bean-tools-and-resources-trade-mark {
  background: #1d252c url("../images/tablet_v2.jpg") center center no-repeat;
  background-size: 120% auto;
  color: white;
  text-align: center;
    background-size: 100% auto;
    padding: 60px 10px 20px;
}
.node-type-landing-page #block-bean-tools-and-resources-trade-mark h2 {
  color:#FFF;
  font-family: "montserratregular", sans-serif;
}
.node-type-landing-page #block-bean-tools-and-resources-trade-mark ul {
  list-style: none;
  text-align: left;
  color:#1D252C;
  padding:0px;
  margin:0px;
}
  .node-type-landing-page #block-bean-tools-and-resources-trade-mark ul li {
  margin-top: 18px;
  padding: 0 30px 0 50px;
  margin-bottom: 18px;
  font-size: 16px;
  background: transparent url("../images/link-tool.png") 17px top no-repeat;
}
.node-type-landing-page #block-bean-tools-and-resources-trade-mark div.bs-vert-callout-trade-marks {
  background: #FFF;
  min-height: 490px;
}
/* end tools and resources trade marks */

  /* start designs landing block */
.node-type-landing-page #block-bean-designs-landing-block-0 {
    background: #dff0d8 url("../images/designs-banner.jpg") center top no-repeat;
  background-size: 120% auto;
    padding: 60px 10px 20px;
}
.node-type-landing-page #block-bean-designs-landing-block-0 .panels-flexible-region-first {
  color:#FFF;
  font: normal 20px "robotoregular", sans-serif;
  padding-right: 20%;
}
.node-type-landing-page #block-bean-designs-landing-block-0 .panels-flexible-region-first h2 {
    font: normal 60px "montserratregular", sans-serif;
    text-transform: uppercase;
    color:#fff;
}
.node-type-landing-page #block-bean-designs-landing-block-0 .panels-flexible-region-inside-last ul.tools-resources-list {
    padding: 0px;
    margin: 0px;
    color: #1d252c;
    list-style: none;
    /*background: #fff;*/
    padding-top: 2px;
  }
.node-type-landing-page #block-bean-designs-landing-block-0 .panels-flexible-region-inside-last li.designs {
  margin-top: 2px;
    border-top: 0px;
    margin-bottom: 0px;
    padding: 18px 14px;
    font: normal 16px "robotoregular", sans-serif;
    line-height: 22px;
    border: 0px;
    border-left: 10px solid #84c98f;
    background: #fff;
}
 /* end designs landing block */
 /* start designs in page nav */
 #block-bean-designs-anchor-menu {
   height:72px;
   text-transform:uppercase;
   padding-top:25px;
   text-align:center;
 }
 #block-bean-designs-anchor-menu a {
   color:#0d252c;
 }
 /* end designs in page nav */
 /*understanding designs block */
.node-type-landing-page  #block-bean-understanding-designs-block {
    padding: 50px 10px;
    text-align: center;
  }
  .node-type-landing-page  #block-bean-understanding-designs-block .group-footer p, .node-type-landing-page  #block-bean-understanding-designs-block .group-footer a {
    margin-top: 40px;
    border: 2px solid white;
    background: #1d252c;
    padding: 16px 35px 16px;
    display: inline-block;
    border-radius: 100px;
    color: white;
    font-size: 14px;
    text-transform: uppercase;
    font-family: "montserratregular", sans-serif;
    line-height: 14px;
    border-color: #1d252c;
    margin-right: 27px;
    cursor: pointer;
}
.node-type-landing-page #block-bean-understanding-designs-block .group-footer p:after, .node-type-landing-page #block-bean-understanding-designs-block .group-footer a:after {
    background: transparent url("../images/arrow-right-transparent.png") center center no-repeat;
    display: inline-block;
    width: 9px;
    height: 15px;
    content: '';
    margin: 0 0 -2px 10px;
}
.node-type-landing-page #block-bean-understanding-designs-block .group-left, .node-type-landing-page #block-bean-understanding-designs-block .group-right, .node-type-landing-page #block-bean-understanding-designs-block .group-middle{
  background: #FFF;
  text-align: left;
  padding: 20px 40px;
  min-height: 280px;
  width: 30%;
  margin-left: 3%;
  margin-top: 30px;
}
.node-type-landing-page #block-bean-understanding-designs-block {
  background: #EEF0F1;
  font-family: "robotoregular", sans-serif;
  margin-bottom: 2px;
}
/* end understanding designs*/

/*start application process - designs */
.node-type-landing-page #block-bean-designs-application-process {
  background: #dff0d8;
  padding-top: 40px;
}
.node-type-landing-page #block-bean-designs-application-process .alert-success {
  border:none;
}
/*.node-type-landing-page #block-bean-trade-marks-application-process p.more-button:after, .node-type-landing-page #block-bean-understanding-trade-marks-block a.more-button:after {
    background: transparent url("../images/arrow-right-transparent.png") center center no-repeat;
    display: inline-block;
    width: 9px;
    height: 15px;
    content: '';
    margin: 0 0 -2px 10px;
}
  .node-type-landing-page  #block-bean-trade-marks-application-process p.more-button, .node-type-landing-page  #block-bean-trade-marks-application-process a.more-button {
    margin-top: 40px;
    border: 2px solid white;
    background: #1d252c;
    padding: 16px 35px 16px;
    display: inline-block;
    border-radius: 100px;
    color: white;
    font-size: 14px;
    text-transform: uppercase;
    font-family: "montserratregular", sans-serif;
    line-height: 14px;
    border-color: #1d252c;
    margin-right: 27px;
    cursor: pointer;
}*/

/* end application process - designs */

/* start managing your designs block */
.node-type-landing-page  #block-bean-managing-your-design-block {
    padding: 60px 10px;
    text-align: center;
  }
  .node-type-landing-page  #block-bean-managing-your-design-block .group-footer p, .node-type-landing-page  #block-bean-managing-your-design-block .group-footer a {
    margin-top: 40px;
    border: 2px solid white;
    background: #1d252c;
    padding: 16px 35px 16px;
    display: inline-block;
    border-radius: 100px;
    color: white;
    font-size: 14px;
    text-transform: uppercase;
    font-family: "montserratregular", sans-serif;
    line-height: 14px;
    border-color: #1d252c;
    margin-right: 27px;
    cursor: pointer;
}
.node-type-landing-page #block-bean-managing-your-design-block .group-footer p:after, .node-type-landing-page #block-bean-managing-your-design-block .group-footer a:after {
    background: transparent url("../images/arrow-right-transparent.png") center center no-repeat;
    display: inline-block;
    width: 9px;
    height: 15px;
    content: '';
    margin: 0 0 -2px 10px;
}
.node-type-landing-page #block-bean-managing-your-design-block .group-left, .node-type-landing-page #block-bean-managing-your-design-block .group-right, .node-type-landing-page #block-bean-managing-your-design-block .group-middle{
  background: #EEF0F1;
  text-align: left;
  padding: 20px 40px;
  min-height: 280px;
  width: 30%;
  margin-left: 3%;
  margin-top: 30px;
}
.node-type-landing-page #block-bean-managing-your-design-block {
  background: #FFF;
  font-family: "robotoregular", sans-serif;
}
/*end managing your designs block */

/* start tools and resources designs */
.node-type-landing-page #block-bean-tools-and-resources-designs {
  background: #1d252c url("../images/tablet_v2.jpg") center center no-repeat;
  background-size: 120% auto;
  color: white;
  text-align: center;
    background-size: 100% auto;
    padding: 60px 10px 20px;
}
.node-type-landing-page #block-bean-tools-and-resources-designs h2 {
  color:#FFF;
  font-family: "montserratregular", sans-serif;
}
.node-type-landing-page #block-bean-tools-and-resources-designs ul {
  list-style: none;
  text-align: left;
  color:#1D252C;
  padding:0px;
  margin:0px;
}
  .node-type-landing-page #block-bean-tools-and-resources-designs ul li {
  margin-top: 18px;
  padding: 0 30px 0 50px;
  margin-bottom: 18px;
  font-size: 16px;
  background: transparent url("../images/link-tool.png") 17px top no-repeat;
}
.node-type-landing-page #block-bean-tools-and-resources-designs div.bs-vert-callout-designs {
  background: #FFF;
  min-height: 440px;
}
/* end tools and resources designs */

  /* start PBR landing block */
.node-type-landing-page #block-bean-pbr-landing-block-0 {
    background: #1d252c url("../images/pbr-banner.jpg") center top no-repeat;
  background-size: 120% auto;
    padding: 60px 10px 20px;
}
.node-type-landing-page #block-bean-pbr-landing-block-0 .panels-flexible-region-first {
  color:#fff;
  font: normal 20px "robotoregular", sans-serif;
  padding-right: 20%;
}
.node-type-landing-page #block-bean-pbr-landing-block-0 .panels-flexible-region-first h2 {
    font: normal 60px "montserratregular", sans-serif;
    text-transform: uppercase;
    color:#fff;
}
.node-type-landing-page #block-bean-pbr-landing-block-0 .panels-flexible-region-inside-last ul.tools-resources-list {
    padding: 0px;
    margin: 0px;
    color: #1d252c;
    list-style: none;
    /*background: #fff;*/
    padding-top: 2px;
  }
.node-type-landing-page #block-bean-pbr-landing-block-0 .panels-flexible-region-inside-last li.pbr {
  margin-top: 2px;
    border-top: 0px;
    margin-bottom: 0px;
    padding: 18px 14px;
    font: normal 16px "robotoregular", sans-serif;
    line-height: 22px;
    border: 0px;
    border-left: 10px solid #F1AC1E;
    background: #fff;
}
 /* end PBR landing block */
 /* start pbr in page nav */
 #block-bean-pbr-anchor-menu {
   height:72px;
   text-transform:uppercase;
   padding-top:25px;
   text-align:center;
 }
 #block-bean-pbr-anchor-menu a {
   color:#0d252c;
 }
 /* end pbr in page nav */
 /*understanding PBR block */
.node-type-landing-page  #block-bean-understanding-pbr {
    padding: 50px 10px;
    text-align: center;
  }
  .node-type-landing-page  #block-bean-understanding-pbr .group-footer p, .node-type-landing-page  #block-bean-understanding-pbr .group-footer a {
    margin-top: 40px;
    border: 2px solid white;
    background: #1d252c;
    padding: 16px 35px 16px;
    display: inline-block;
    border-radius: 100px;
    color: white;
    font-size: 14px;
    text-transform: uppercase;
    font-family: "montserratregular", sans-serif;
    line-height: 14px;
    border-color: #1d252c;
    margin-right: 27px;
    cursor: pointer;
}
.node-type-landing-page #block-bean-understanding-pbr .group-footer p:after, .node-type-landing-page #block-bean-understanding-pbr .group-footer a:after {
    background: transparent url("../images/arrow-right-transparent.png") center center no-repeat;
    display: inline-block;
    width: 9px;
    height: 15px;
    content: '';
    margin: 0 0 -2px 10px;
}
.node-type-landing-page #block-bean-understanding-pbr .group-left, .node-type-landing-page #block-bean-understanding-pbr .group-right, .node-type-landing-page #block-bean-understanding-pbr .group-middle{
  background: #FFF;
  text-align: left;
  padding: 20px 40px;
  min-height: 280px;
  width: 30%;
  margin-left: 3%;
  margin-top: 30px;
}
.node-type-landing-page #block-bean-understanding-pbr {
  background: #EEF0F1;
  font-family: "robotoregular", sans-serif;
  margin-bottom: 2px;
}
/* end understanding PBR*/

/*start application process - PBR */
.node-type-landing-page #block-bean-patents-landing-page-navigatio-0, .node-type-landing-page #block-bean-all-about-pbr-block {
  background: #fdedce;
  padding-top: 40px;
}
.node-type-landing-page #block-bean-patents-landing-page-navigatio-0 li.main-list-item-pbr {
   background: #fff;
}
/* end application process - PBR */

/* start managing your PBR block */
.node-type-landing-page  #block-bean-managing-you-pbr-block {
    padding: 60px 10px;
    text-align: center;
  }
  .node-type-landing-page  #block-bean-managing-you-pbr-block .group-footer p, .node-type-landing-page  #block-bean-managing-you-pbr-block .group-footer a {
    margin-top: 40px;
    border: 2px solid white;
    background: #1d252c;
    padding: 16px 35px 16px;
    display: inline-block;
    border-radius: 100px;
    color: white;
    font-size: 14px;
    text-transform: uppercase;
    font-family: "montserratregular", sans-serif;
    line-height: 14px;
    border-color: #1d252c;
    margin-right: 27px;
    cursor: pointer;
}
.node-type-landing-page #bblock-bean-managing-you-pbr-block .group-footer p:after, .node-type-landing-page #block-bean-managing-you-pbr-block .group-footer a:after {
    background: transparent url("../images/arrow-right-transparent.png") center center no-repeat;
    display: inline-block;
    width: 9px;
    height: 15px;
    content: '';
    margin: 0 0 -2px 10px;
}
.node-type-landing-page #block-bean-managing-you-pbr-block .group-left, .node-type-landing-page #block-bean-managing-you-pbr-block .group-right, .node-type-landing-page #block-bean-managing-you-pbr-block .group-middle{
  background: #EEF0F1;
  text-align: left;
  padding: 20px 40px;
  min-height: 280px;
  width: 30%;
  margin-left: 3%;
  margin-top: 30px;
}
.node-type-landing-page #block-bean-managing-you-pbr-block {
  background: #FFF;
  font-family: "robotoregular", sans-serif;
}
/*end managing your PBR block */

/* start tools and resources PBR */
.node-type-landing-page #block-bean-tools-and-resources-pbr {
  background: #1d252c url("../images/tablet_v2.jpg") center center no-repeat;
  background-size: 120% auto;
  color: white;
  text-align: center;
    background-size: 100% auto;
    padding: 60px 10px 20px;
}
.node-type-landing-page #block-bean-tools-and-resources-pbr h2 {
  color:#FFF;
  font-family: "montserratregular", sans-serif;
}
.node-type-landing-page #block-bean-tools-and-resources-pbr ul {
  list-style: none;
  text-align: left;
  color:#1D252C;
  padding:0px;
  margin:0px;
}
  .node-type-landing-page #block-bean-tools-and-resources-pbr ul li {
  margin-top: 18px;
  padding: 0 30px 0 50px;
  margin-bottom: 18px;
  font-size: 16px;
  background: transparent url("../images/link-tool.png") 17px top no-repeat;
}
.node-type-landing-page #block-bean-tools-and-resources-pbr div.bs-vert-callout-patents {
  background: #FFF;
  min-height: 490px;
}
/* end tools and resources PBR */

/* start More About.. landing page styling */
.node-type-landing-page section[id*="lock-panels-mini-more-about"] .block-title {
  text-align: center;
}
.node-type-landing-page section[id*="lock-panels-mini-more-about"] {
  color: #1d252c;
}
.node-type-landing-page section[id*="lock-panels-mini-more-about"] .views-view-grid td {
  position: relative;
  vertical-align: top;
  width: 25%;
}
.node-type-landing-page section[id*="lock-panels-mini-more-about"] .views-view-grid td div[class*="image"] {
  position: relative;
  z-index: 10;
}
.node-type-landing-page section[id*="lock-panels-mini-more-about"] .views-view-grid td div[class*="image"] img {
  display: inline-block;
  height: 280px;
}
.node-type-landing-page section[id*="lock-panels-mini-more-about"] .views-view-grid td div[class*="date"],  .node-type-landing-page section[id*="lock-panels-mini-more-about"] .view-id-case_studies td div[class*="title"] {
  text-align: left;
  background: transparent url("../images/transparent-pixel-purple_v2.png") center center repeat;
  padding: 0px 20px;
  /*margin: 0 auto;*/
  color: white;
  width: 280px;
  display: block;
  position: relative;
  z-index: 100;
  padding-top: 23px;
  height: 45px;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-top: -115px;
}
.node-type-landing-page section[id*="lock-panels-mini-more-about"] .view-id-case_studies td div[class*="title"] {
  margin-top: -70px;
}
.node-type-landing-page section[id*="lock-panels-mini-more-about"] .views-view-grid td div[class*="date"] span[class*="label "] {
  float: left;
}
.node-type-landing-page section[id*="lock-panels-mini-more-about"] .views-view-grid td div[class*="title"], .node-type-landing-page section[id*="lock-panels-mini-more-about"]   .views-view-grid td div[class*="location"] {
  text-align: left;
  background: transparent url("../images/transparent-pixel-purple_v2.png") center center repeat;
  padding: 0px 20px;
  /*margin: 0 auto;*/
  color: white;
  width: 280px;
  display: block;
  position: relative;
  z-index: 100;
  clear: both;
  font: normal 20px "montserratbold", sans-serif;
  font-family: "montserratregular", sans-serif;
  height: 70px;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 6px 20px;
}
.node-type-landing-page section[id*="lock-panels-mini-more-about"] .views-view-grid td div[class*="title"] a, .node-type-landing-page section[id*="lock-panels-mini-more-about"]   .views-view-grid td div[class*="location"] a {
  color: white;
  text-decoration: underline;
}
.node-type-landing-page section[id*="lock-panels-mini-more-about"] .views-view-grid td div[class*="location"] {
  text-align: left;
  background: transparent url("../images/transparent-pixel-purple_v2.png") center center repeat;
  padding: 0px 20px;
  /*margin: 0 auto;*/
  color: white;
  width: 280px;
  display: block;
  position: relative;
  z-index: 100;
}
.node-type-landing-page section[id*="lock-panels-mini-more-about"] .views-view-grid td div[class*="body"] {
  text-align: left;
  background: transparent url("../images/transparent-pixel-purple_v2.png") center center repeat;
  padding: 0px 20px;
  /*margin: 0 auto;*/
  color: white;
  width: 280px;
  display: block;
  position: relative;
  z-index: 100;
  height: 165px;
  overflow: hidden;
  display: none;
  text-overflow: ellipsis;
}
.node-type-landing-page section[id*="lock-panels-mini-more-about"] .view-id-case_studies .views-view-grid td div[class*="body"] {
  height: 210px;
}
.node-type-landing-page section[id*="lock-panels-mini-more-about"] .views-view-grid td:hover div[class*="date"], .node-type-landing-page section[id*="lock-panels-mini-more-about"] .view-id-case_studies td:hover div[class*="title"] {
  margin-top: -280px;
}
.node-type-landing-page section[id*="lock-panels-mini-more-about"] .views-view-grid td:hover div[class*="body"] {
  display: block;
}
.node-type-landing-page section[id*="lock-panels-mini-more-about"] .panels-flexible-row-inside .panels-flexible-region {
  width: 100%;
}
.node-type-landing-page section[id*="lock-panels-mini-more-about"] .panels-flexible-region .inside {
  font: normal 20px "robotolight", sans-serif;
  padding: 10px 0 30px 0;
}
.node-type-landing-page section[id*="lock-panels-mini-more-about"] .panels-flexible-row-last .panels-flexible-row-inside .panels-flexible-region {
  width: 100%;
}

@media only screen and (max-width: 1180px) {.node-type-landing-page .panel-2col .panel-col-first {

}
}
.node-type-landing-page section#block-panels-mini-more-about-patents-2-col-panel .views-view-grid td div[class*="body"],
.node-type-landing-page section#block-panels-mini-more-about-patents-2-col-panel .views-view-grid td div[class*="title"],
.node-type-landing-page section#block-panels-mini-more-about-patents-2-col-panel .views-view-grid td div[class*="date"],
.node-type-landing-page section#block-panels-mini-more-about-patents-2-col-panel .views-view-grid td div[class*="location"] {
  background: transparent url("../images/transparent-pixel-teal.png") center center repeat;
}
.node-type-landing-page section#block-panels-mini-more-about-trade-marks-2-column- .views-view-grid td div[class*="body"],
.node-type-landing-page section#block-panels-mini-more-about-trade-marks-2-column- .views-view-grid td div[class*="title"],
.node-type-landing-page section#block-panels-mini-more-about-trade-marks-2-column- .views-view-grid td div[class*="date"],
.node-type-landing-page section#block-panels-mini-more-about-trade-marks-2-column- .views-view-grid td div[class*="location"] {
  background: transparent url("../images/transparent-pixel-red.png") center center repeat;
}
.node-type-landing-page section#block-panels-mini-more-about-designs-2-col-panel .views-view-grid td div[class*="body"],
.node-type-landing-page section#block-panels-mini-more-about-designs-2-col-panel .views-view-grid td div[class*="title"],
.node-type-landing-page section#block-panels-mini-more-about-designs-2-col-panel .views-view-grid td div[class*="date"],
.node-type-landing-page section#block-panels-mini-more-about-designs-2-col-panel .views-view-grid td div[class*="location"] {
  background: transparent url("../images/transparent-pixel-mint.png") center center repeat;
}
.node-type-landing-page section#block-panels-mini-more-about-pbr-2-col-panel .views-view-grid td div[class*="body"],
.node-type-landing-page section#block-panels-mini-more-about-pbr-2-col-panel .views-view-grid td div[class*="title"],
.node-type-landing-page section#block-panels-mini-more-about-pbr-2-col-panel .views-view-grid td div[class*="date"],
.node-type-landing-page section#block-panels-mini-more-about-pbr-2-col-panel .views-view-grid td div[class*="location"] {
  background: transparent url("../images/transparent-pixel-yellow.png") center center repeat;
}

/* end More about.. styling */

/* start Tools and resources Intro */
.node-type-landing-page #block-bean-tools-and-resources-landing-bloc {
  background: #1d252c url("../images/tablet.jpg") center center no-repeat;
  background-size: 100% auto;
  padding: 60px 10px 80px 20px;
  color:#FFF;
}
.node-type-landing-page #block-bean-tools-and-resources-landing-bloc .content {
  width: 66%;
  text-align: left;
}
.node-type-landing-page #block-bean-tools-and-resources-landing-bloc .content p {
  font: normal 20px "robotolight", sans-serif;
}
.node-type-landing-page #block-bean-tools-and-resources-landing-bloc .content h2 {
  color:#FFF;
  text-transform: uppercase;
  font: normal 60px "montserratregular", sans-serif;
}
.node-type-landing-page #block-quicktabs-tools-and-resources #quicktabs-tools_and_resources ul.quicktabs-tabs  {
  margin: 0;
  padding: 0;
  text-align: center;
  padding-top: 40px;
  height:115px;
}
.node-type-landing-page #block-quicktabs-tools-and-resources #quicktabs-tools_and_resources ul.quicktabs-tabs li {
  margin: 0;
  padding: 0;
  width: 19.5%;
  display: inline-block;
}
.node-type-landing-page #block-quicktabs-tools-and-resources #quicktabs-tools_and_resources ul.quicktabs-tabs li a {
  width:100%;
  padding: 5px 5px 5px 5px;
  background-color:#1D252C;
  text-decoration: none;
  text-transform: uppercase;
  font: normal 18px "robotobold", sans-serif;
  white-space:normal;
  border: 1px solid #1D252C;
  height: 72px;
  display: inline-block;
  color: #FFF;
  text-align: center;
  vertical-align: middle;
  /* fallback for non-Flexbox browsers */
  display: inline-block;
  /* Flexbox browsers */
  display: -webkit-inline-box;
  display: -moz-inline-box;
  display: -ms-inline-flexbox;
  display: -webkit-inline-flex;
  display: inline-flex;
  /* vertical centering for legacy, horizontal centering for modern */
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  /* modern Flexbox only */
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  /* legacy Flexbox only */
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
}

.node-type-landing-page #block-quicktabs-tools-and-resources #quicktabs-tools_and_resources ul.quicktabs-tabs li a#quicktabs-tab-tools_and_resources-0 {
  /*background: #30aeb6 url("../images/block-patent.png") left center no-repeat;*/
  background-color: #30aeb6;
  border: 1px solid #30aeb6;
}
.node-type-landing-page #block-quicktabs-tools-and-resources #quicktabs-tools_and_resources ul.quicktabs-tabs li a#quicktabs-tab-tools_and_resources-1 {
  /*background: #de4326 url("../images/block-tm.png") left center no-repeat;*/
  background: #de4326;
  border: 1px solid #de4326;
}
.node-type-landing-page #block-quicktabs-tools-and-resources #quicktabs-tools_and_resources ul.quicktabs-tabs li a#quicktabs-tab-tools_and_resources-2 {
  /*background: #84c98f url("../images/block-design.png") left center no-repeat;*/
  background: #84c98f;
  border: 1px solid #84c98f;
}
.node-type-landing-page #block-quicktabs-tools-and-resources #quicktabs-tools_and_resources ul.quicktabs-tabs li a#quicktabs-tab-tools_and_resources-3 {
  /*background: #f1ac1e url("../images/block-pbr.png") left center no-repeat;*/
  background: #f1ac1e;
  border: 1px solid #f1ac1e;
}
.node-type-landing-page #block-quicktabs-tools-and-resources #quicktabs-tools_and_resources ul.quicktabs-tabs li a#quicktabs-tab-tools_and_resources-4 {
  background-color: #704579;
  border: 1px solid #704579;
}

.node-type-landing-page #block-quicktabs-tools-and-resources #quicktabs-tools_and_resources ul.quicktabs-tabs li a#quicktabs-tab-tools_and_resources-0:hover,
.node-type-landing-page #block-quicktabs-tools-and-resources #quicktabs-tools_and_resources ul.quicktabs-tabs li.active a#quicktabs-tab-tools_and_resources-0 {
  color:#30aeb6;
  background-color: #fff;
  border-bottom-width: 9px;
  height:80px;
  margin-bottom:-8px;
}
.node-type-landing-page #block-quicktabs-tools-and-resources #quicktabs-tools_and_resources ul.quicktabs-tabs li a#quicktabs-tab-tools_and_resources-1:hover,
.node-type-landing-page #block-quicktabs-tools-and-resources #quicktabs-tools_and_resources ul.quicktabs-tabs li.active a#quicktabs-tab-tools_and_resources-1 {
  color:#de4326;
  background-color: #fff;
  border-bottom-width: 9px;
  height:80px;
  margin-bottom:-8px;
}
.node-type-landing-page #block-quicktabs-tools-and-resources #quicktabs-tools_and_resources ul.quicktabs-tabs li a#quicktabs-tab-tools_and_resources-2:hover,
.node-type-landing-page #block-quicktabs-tools-and-resources #quicktabs-tools_and_resources ul.quicktabs-tabs li.active a#quicktabs-tab-tools_and_resources-2 {
  color:#84c98f;
  background-color: #fff;
  border-bottom-width: 9px;
  height:80px;
  margin-bottom:-8px;
}
.node-type-landing-page #block-quicktabs-tools-and-resources #quicktabs-tools_and_resources ul.quicktabs-tabs li a#quicktabs-tab-tools_and_resources-3:hover,
.node-type-landing-page #block-quicktabs-tools-and-resources #quicktabs-tools_and_resources ul.quicktabs-tabs li.active a#quicktabs-tab-tools_and_resources-3 {
  color:#f1ac1e;
  background-color: #fff;
  border-bottom-width: 9px;
  height:80px;
  margin-bottom:-8px;
}
.node-type-landing-page #block-quicktabs-tools-and-resources #quicktabs-tools_and_resources ul.quicktabs-tabs li a#quicktabs-tab-tools_and_resources-4:hover,
.node-type-landing-page #block-quicktabs-tools-and-resources #quicktabs-tools_and_resources ul.quicktabs-tabs li.active a#quicktabs-tab-tools_and_resources-4 {
  color:#704579;
  background-color: #fff;
  border-bottom-width: 9px;
  height:80px;
  margin-bottom:-8px;
}

.node-type-landing-page #block-quicktabs-tools-and-resources #quicktabs-tools_and_resources ul.quicktabs-tabs li a.toc-filter-processed,
.node-type-landing-page #block-quicktabs-tools-and-resources #quicktabs-tools_and_resources ul.quicktabs-tabs li a.toc-filter-processed:visited,
.node-type-landing-page #block-quicktabs-tools-and-resources #quicktabs-tools_and_resources ul.quicktabs-tabs li a.toc-filter-processed:active, {
  color:#FFF;
}


@media only screen and (max-width: 768px) {
  .node-type-landing-page #block-bean-tools-and-resources-landing-bloc .content  {
 width: 100%;
  }
  .node-type-landing-page #block-quicktabs-tools-and-resources #quicktabs-tools_and_resources ul.quicktabs-tabs li {
     width: 100%;
  }
}
@media only screen and (max-width: 1200px) {
  .node-type-landing-page #block-quicktabs-tools-and-resources #quicktabs-tools_and_resources ul.quicktabs-tabs li a {
    padding: 5px;
    background-image:none;
  }
}

/* end Tools and resources intro */

/* start tools and resources tab for patents */
/*.node-type-landing-page #quicktabs-tabpage-tools_and_resources-4 .pane-content */
/* start tools and resources patent */
.node-type-landing-page #quicktabs-tabpage-tools_and_resources-4 .pane-content  {
  color: #FFF;
  text-align: center;
  padding: 15px 0px 0px;
}
/*.node-type-landing-page #block-bean-tools-and-resources h2 {
  color:#FFF;
  font-family: "montserratregular", sans-serif;
}*/
.node-type-landing-page #quicktabs-tabpage-tools_and_resources-4 .pane-content ul {
  list-style: none;
  text-align: left;
  color:#1D252C;
  padding:0px;
  margin:0px;
}
.node-type-landing-page #quicktabs-tabpage-tools_and_resources-4 .pane-content ul li {
  margin-top: 18px;
  padding: 0 30px 0 50px;
  margin-bottom: 18px;
  font-size: 16px;
  background: transparent url("../images/link-tool.png") 17px top no-repeat;
}

/* end tools and resources patent */
.node-type-landing-page #block-quicktabs-tools-and-resources .panels-flexible-row-first {
  display: none;
}
/* end tools and resources tab for trade marks */

.node-type-landing-page #block-quicktabs-tools-and-resources .bs-callout, .node-type-landing-page #block-quicktabs-tools-and-resources .bs-vert-callout {
  background-color: #FFF;
      padding: 20px;
    margin: 20px 0;
    border: 0px solid #eee;
    border-radius: 0px;
}
.node-type-landing-page #block-quicktabs-tools-and-resources  {
  background: #EEF0F1;
}

.node-type-landing-page #quicktabs-tabpage-tools_and_resources-4 .panel-flexible .panels-flexible-row-four_column_panel_with_top_and_bottom-main-row-inside .panels-flexible-region .inside {
    background: white none repeat scroll 0 0;
    margin-right: 0.5em;
    margin-left: 0.5em;
    min-height: 607px;
    padding: 0;
}
.node-type-landing-page #quicktabs-tabpage-tools_and_resources-4 .panel-flexible .panels-flexible-row-inside .panels-flexible-region .inside .panel-image {
    margin-top: 20px;
}
.node-type-landing-page #quicktabs-tabpage-tools_and_resources-4 .panel-flexible .panels-flexible-row-four_column_panel_with_top_and_bottom-main-row-inside .panels-flexible-region .inside.panels-flexible-region-inside-last {
  margin-right:0;
}
  .node-type-landing-page #quicktabs-tabpage-tools_and_resources-4 .panel-flexible .Top .panels-flexible-row-inside .panels-flexible-region {
    width: 100%; }
    .node-type-landing-page #quicktabs-tabpage-tools_and_resources-4 .panel-flexible .Top .panels-flexible-row-inside .panels-flexible-region .inside {
      background: transparent;
      font: normal 20px "robotolight", sans-serif;
      padding-bottom: 40px;
      min-height: 10px; }
  .node-type-landing-page #quicktabs-tabpage-tools_and_resources-4 .panel-flexible .tools-resources-list {
    padding: 0px;
    margin: 0px;
    color: #1d252c;
    list-style: none; }
    .node-type-landing-page #quicktabs-tabpage-tools_and_resources-4 .panel-flexible .tools-resources-list li {
      background: #fff;
      border: 0px;
      padding: 14px;
      font: normal 16px "robotoregular", sans-serif;
      margin-top: 2px; }
      .node-type-landing-page #quicktabs-tabpage-tools_and_resources-4 .panel-flexible .tools-resources-list li.patents {
        border-left: 10px solid #30aeb6; }
      .node-type-landing-page #quicktabs-tabpage-tools_and_resources-4 .panel-flexible .tools-resources-list li.trade-marks {
        border-left: 10px solid #de4326; }
      .node-type-landing-page #quicktabs-tabpage-tools_and_resources-4 .panel-flexible .tools-resources-list li.designs {
        border-left: 10px solid #84c98f; }
      .node-type-landing-page #quicktabs-tabpage-tools_and_resources-4 .panel-flexible .tools-resources-list li.pbr {
        border-left: 10px solid #f1ac1e; }
      .node-type-landing-page #quicktabs-tabpage-tools_and_resources-4 .panel-flexible .tools-resources-list li.copyright {
        border-left: 10px solid #704579; }
    .node-type-landing-page #quicktabs-tabpage-tools_and_resources-4 .panel-flexible .tools-resources-list li {
      margin-top: 18px;
      padding: 0 30px 0 50px;
      margin-bottom: 18px;
      font-size: 16px;
      background: transparent url("../images/link-tool.png") 17px top no-repeat;
      line-height: 22px; }
  .node-type-landing-page #quicktabs-tabpage-tools_and_resources-4 .panel-flexible .panels-flexible-region-four_column_panel_with_top_and_bottom-left_region_1 .tools-resources-list {
    padding: 0px;
    margin: 0px;
    color: #1d252c;
    background: #EEF0F1;
    list-style: none;
    padding-top: 2px; }
    .node-type-landing-page #quicktabs-tabpage-tools_and_resources-4 .panel-flexible .panels-flexible-region-four_column_panel_with_top_and_bottom-left_region_1 .tools-resources-list li {
      background: #fff;
      border: 0px;
      padding: 14px;
      font: normal 16px "robotoregular", sans-serif;
      margin-top: 2px; }
      .node-type-landing-page #quicktabs-tabpage-tools_and_resources-4 .panel-flexible .panels-flexible-region-four_column_panel_with_top_and_bottom-left_region_1 .tools-resources-list li.patents {
        border-left: 10px solid #30aeb6; }
      .node-type-landing-page #quicktabs-tabpage-tools_and_resources-4 .panel-flexible .panels-flexible-region-four_column_panel_with_top_and_bottom-left_region_1 .tools-resources-list li.trade-marks {
        border-left: 10px solid #de4326; }
      .node-type-landing-page #quicktabs-tabpage-tools_and_resources-4 .panel-flexible .panels-flexible-region-four_column_panel_with_top_and_bottom-left_region_1 .tools-resources-list li.designs {
        border-left: 10px solid #84c98f; }
      .node-type-landing-page #quicktabs-tabpage-tools_and_resources-4 .panel-flexible .panels-flexible-region-four_column_panel_with_top_and_bottom-left_region_1 .tools-resources-list li.pbr {
        border-left: 10px solid #f1ac1e; }
      .node-type-landing-page #quicktabs-tabpage-tools_and_resources-4 .panel-flexible .panels-flexible-region-four_column_panel_with_top_and_bottom-left_region_1 .tools-resources-list li.copyright {
        border-left: 10px solid #704579; }
    .node-type-landing-page #quicktabs-tabpage-tools_and_resources-4 .panel-flexible .panels-flexible-region-four_column_panel_with_top_and_bottom-left_region_1 .tools-resources-list li {
      margin-top: 2px;
      border-top: 0px;
      margin-bottom: 0px;
      padding: 18px 14px;
      font: normal 16px "robotoregular", sans-serif;
      line-height: 22px; }
      .node-type-landing-page #quicktabs-tabpage-tools_and_resources-4 .panel-flexible .panels-flexible-region-four_column_panel_with_top_and_bottom-left_region_1 .tools-resources-list li.patents {
        margin-top: 0px; }

  .node-type-landing-page #quicktabs-tabpage-tools_and_resources-4 .panels-flexible-region-four_column_panel_with_top_and_bottom-left_region_1 {
    width: 25%;
}
.front #block-bean-tools-and-resources-generic-bloc .panel-flexible ul {
    padding: 0px;
    margin: 0px;
    color: #1d252c;
    list-style: none;
  }
.node-type-landing-page #quicktabs-tabpage-tools_and_resources-0 .panels-flexible-region-four_column_panel_with_top_and_bottom-left_region_1 ul li {
    margin-top: 18px;
    padding: 0 30px 0 50px;
    margin-bottom: 18px;
    font-size: 16px;
    background: transparent url("../images/link-tool.png") 17px top no-repeat;
  }


div.thick {
  height:6px;
  border:0;
  color:#fff;
  background-color:#fff;
  width:150px;
  text-align:left;
  margin-bottom:10px;
  }

div.thin {
    height:4px;
    border:0;
    color:#b6bec1;
    background-color:#b6bec1;
    width:100px;
    text-align:left;
    margin-bottom:8px;
  }
/* start about us intro block */

.node-type-landing-page #block-bean-about-us-landing-block {
  background: #1d252c url("../images/contact-us-banner.jpg") center top no-repeat;
background-size: 100% auto;
  padding: 40px 10px 60px;
}
.node-type-landing-page #block-bean-about-us-landing-block  .container {
  color:#fff;
  font: normal 20px "robotoregular", sans-serif;
  padding-right: 20%;
}
.node-type-landing-page #block-bean-about-us-landing-block  .container h2 {
    font: normal 60px "montserratregular", sans-serif;
    text-transform: uppercase;
    color:#fff;
}
/* end about us intro block */
/* start about us what we do block */
/* .node-type-landing-page #block-bean-what-we-do-block .panels-flexible-region-inside-last, .node-type-landing-page #block-bean-what-we-do-block .panels-flexible-region-inside, .node-type-landing-page #block-bean-what-we-do-block .group-middle #block-bean-what-we-do-block .group-middle{
  background: #FFF;
  text-align: left;
  padding: 20px 40px;
  min-height: 280px;
  width: 22%;
  margin-left: 3%;
  margin-top: 30px;
}*/
.node-type-landing-page #block-bean-what-we-do-block {
  background: #EEF0F1;
  font-family: "robotoregular", sans-serif;
  margin-bottom: 2px;
}
/* end what we do block */
/* start news and community block */
#block-panels-mini-news-and-community-homepage-pane {
  padding:80px 10px;
  text-align:center;
}
#block-panels-mini-news-and-community-homepage-pane h2 {
  color:#0d252c;
}
#block-panels-mini-news-and-community-homepage-pane .quicktabs-wrapper .quicktabs-tabs {
  width:100%;
  padding:0px;
  margin:0px;
}
#block-panels-mini-news-and-community-homepage-pane .quicktabs-wrapper .quicktabs-tabs li {
  width:33%;
  text-align:center;
  float:left;
  display:inline-block;
  padding-bottom:19px;
  margin-bottom:14px;
  margin-right:-1px;
}
#block-panels-mini-news-and-community-homepage-pane .quicktabs-wrapper .quicktabs-tabs li.active {
  background:transparent url("../images/dwn-arrow-charcoal.png") center bottom no-repeat;
}
#block-panels-mini-news-and-community-homepage-pane .quicktabs-wrapper .quicktabs-tabs li.active a {
  background:white;
  color:#0d252c;
  border-bottom: 7px solid #0d252c;
}
#block-panels-mini-news-and-community-homepage-pane .quicktabs-wrapper .quicktabs-tabs li a {
  text-transform: uppercase;
  background:white;
  padding:27px 0px;
  color:#0d252c;
  display:inline-block;
  font: normal 20px "monserratbold", sans-serif;
  font-family: "monserratregular", sans-serif;
  line-height:14px;
  border:1px solid #0d252c;
  width:100%;
}
/* end news block */
/* start careers block */
.node-type-landing-page  #block-bean-careers-block{
    padding: 50px 10px;
    text-align: center;
  }
  .node-type-landing-page #block-bean-careers-block h2, .node-type-landing-page #block-bean-careers-block p span{
    color:#fff;
  }
.node-type-landing-page #block-bean-careers-block .group-left, .node-type-landing-page #block-bean-careers-block .group-right, .node-type-landing-page #block-bean-careers-block .group-middle{
  background: #FFF;
  text-align: left;
  padding: 20px 40px;
  min-height: 280px;
  width: 30%;
  margin-left: 3%;
  margin-top: 30px;
}
.node-type-landing-page #block-bean-careers-block {
  background: #099;
  font-family: "robotoregular", sans-serif;
  margin-bottom: 2px;
}
/* end careers block */

/* start accountability block */
.node-type-landing-page  #block-bean-accountability-and-reporting {
    padding: 50px 10px;
    text-align: center;
  }
  .node-type-landing-page #block-bean-accountability-and-reporting h2, .node-type-landing-page #block-bean-accountability-and-reporting p span {
    color:#fff;
  }
.node-type-landing-page #block-bean-accountability-and-reporting .group-left, .node-type-landing-page #block-bean-accountability-and-reporting .group-right, .node-type-landing-page #block-bean-accountability-and-reporting .group-middle{
  background: #FFF;
  text-align: left;
  padding: 20px 40px;
  min-height: 280px;
  width: 30%;
  margin-left: 3%;
  margin-top: 30px;
}
.node-type-landing-page #block-bean-accountability-and-reporting {
  background: #0d252c;
  font-family: "robotoregular", sans-serif;
  margin-bottom: 2px;
}
/* start accountability block */
/* start public consultations connect with us block */

#block-panels-mini-consultations-and-twitter-feed-2 {
  padding:80px 10px;
  background:#eff0f2;
}
#block-panels-mini-consultations-and-twitter-feed-2 .panel-display .panel-panel .inside {
  border-left:10px solid #0d252c;
  margin-right:20px;
  background:white;
  padding:40px 30px;
  min-height:300px;
  position:relative;
  margin-left:0px;
}
#block-panels-mini-consultations-and-twitter-feed-2 .panel-display .panel-panel .inside .pane-twitter-block-1 a {
  display:inline-block;
}
#block-panels-mini-consultations-and-twitter-feed-2 .panel-display .panel-panel .inside .pane-twitter-block-1 ul {
  list-style:none;
}
#block-panels-mini-consultations-and-twitter-feed-2 .panel-display .panel-panel .inside .pane-twitter-block-1 ul li{
  display:inline;
}
#block-panels-mini-consultations-and-twitter-feed-2 .panel-display .panel-panel .inside .pane-twitter-block-1 ul li a {
  text-indent:-9999px;
  padding:0px;
  width:36px;
  height:36px;
  margin:28px 0 0 12px;
}
#block-panels-mini-consultations-and-twitter-feed-2 .panel-display .panel-panel .inside .pane-twitter-block-1 {
  position:absolute;
  top:0;
  right:20px;
}
#block-panels-mini-consultations-and-twitter-feed-2 .panel-display .panel-panel .inside .pane-twitter-block-1 ul li a.facebook {
  background:transparent url("../images/sm-facebook.png") center center no-repeat;
  border-radius:100px;
}
#block-panels-mini-consultations-and-twitter-feed-2 .panel-display .panel-panel .inside .pane-twitter-block-1 ul li a.twitter {
  background:transparent url("../images/sm-twitter.png") center center no-repeat;
  border-radius:100px;
}
#block-panels-mini-consultations-and-twitter-feed-2 .panel-display .panel-panel .inside .pane-twitter-block-1 ul li a.linkedin {
  background:transparent url("../images/sm-linkedin.png") center center no-repeat;
  border-radius:100px;
}
#block-panels-mini-consultations-and-twitter-feed-2 .panel-display .panel-panel .inside .pane-twitter-block-1 ul li a.youtube {
  background:transparent url("../images/sm-youtube.png") center center no-repeat;
  border-radius:100px;
}
#block-panels-mini-consultations-and-twitter-feed-2 .panel-display .panel-panel .inside .pane-govcms-social-links-services .pane-content {
  display:none;
}
#block-panels-mini-consultations-and-twitter-feed-2 .panel-display .panel-panel .inside h3, #block-panels-mini-consultations-and-twitter-feed-2 .panel-display .panel-panel .inside .pane-title {
  font: normal 24px "monserratbold", sans-serif;
  font-family: "monserratregular", sans-serif;
  margin: 0px;
  margin-bottom:35px;
}
/* end public consultations connect with us block */
