.region
{
	/*border: thin solid black;  just for debugging */
}

.navbar-header
{
	float: none;
}


.megamenu-tab-contents {
    position: absolute;
}
/*default heading styles for site*/
h1, h2, h3, h4, h5, h6 {color:#1D252C;font-family: 'montserratbold', sans-serif;}

h1 {font-size: 60px; line-height: 72px;}
h2 {font-size: 44px; line-height: 60px;}
h3 {font-size: 36px; line-height: 44px;}
h4 {font-size: 24px; line-height: 30px;}
h5 {font-size: 20px; line-height: 24px;}
h6 {font-size: 18px; line-height: 24px;}

/*default font for site*/
body {font-family: 'robotoregular', sans-serif;}

/*gold color for links*/
a {color:#977100;}
a:hover {color:#977100;}
a:active {color:#977100;}
a:visited {color:#977100;}

/* fonts - Montserrat regular and bold. Reference the font family to use*/
@font-face {
    font-family: 'montserratregular';
    src: url('fonts/montserrat-regular-webfont.eot');
    src: url('fonts/montserrat-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/montserrat-regular-webfont.woff2') format('woff2'),
         url('fonts/montserrat-regular-webfont.woff') format('woff'),
         url('fonts/montserrat-regular-webfont.ttf') format('truetype'),
         url('fonts/montserrat-regular-webfont.svg#montserratregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserratbold';
    src: url('fonts/montserrat-bold-webfont.eot');
    src: url('fonts/montserrat-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/montserrat-bold-webfont.woff2') format('woff2'),
         url('fonts/montserrat-bold-webfont.woff') format('woff'),
         url('fonts/montserrat-bold-webfont.ttf') format('truetype'),
         url('fonts/montserrat-bold-webfont.svg#montserratbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotobold';
    src: url('fonts/roboto-bold-webfont.eot');
    src: url('fonts/roboto-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/roboto-bold-webfont.woff2') format('woff2'),
         url('fonts/roboto-bold-webfont.woff') format('woff'),
         url('fonts/roboto-bold-webfont.ttf') format('truetype'),
         url('fonts/roboto-bold-webfont.svg#robotobold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotolight';
    src: url('fonts/roboto-light-webfont.eot');
    src: url('fonts/roboto-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/roboto-light-webfont.woff2') format('woff2'),
         url('fonts/roboto-light-webfont.woff') format('woff'),
         url('fonts/roboto-light-webfont.ttf') format('truetype'),
         url('fonts/roboto-light-webfont.svg#robotolight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotoregular';
    src: url('fonts/roboto-regular-webfont.eot');
    src: url('fonts/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/roboto-regular-webfont.woff2') format('woff2'),
         url('fonts/roboto-regular-webfont.woff') format('woff'),
         url('fonts/roboto-regular-webfont.ttf') format('truetype'),
         url('fonts/roboto-regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* callout boxes for blocks on landing pages and tools links */
.bs-callout, .bs-vert-callout {
	padding:20px;
	margin:20px 0;
	border:0px solid #eee;
	border-radius:0px;
	background-color:#EEF0F1;
}
.bs-vert-callout{min-height: 430px;}

.bs-callout-patents, .bs-vert-callout-patents  {border-color:#30AEB6;}
.bs-callout-trade-marks, .bs-vert-callout-trade-marks {border-color:#DE4326;}
.bs-callout-designs, .bs-vert-callout-designs {border-color:#84C98F;}
.bs-callout-pbr, .bs-vert-callout-pbr {border-color:#F1AC1E;}
.bs-callout-purple, .bs-vert-callout-purple {border-color:#704579;}
.bs-callout-charcoal, .bs-vert-callout-charcoal {border-color:#1D252C;}

.bs-vert-callout {border-bottom-width:5px;}
.bs-callout {border-left-width:5px;}

.panels-flexible-row-four_column_panel_with_top_and_bottom-main-row h3 {
    text-transform: uppercase;
    font-size: 18px;
}

/*removes additional heading on homepage*/
.pane-quicktabs-news-events-and-media h2 {display:none;}

/* alistairs css for landing page boxes */
.main-list-item-patent {
    width: 100%;
    border: solid 1px #30aeb6;
    margin: 0 3% 30px 1%;
    float: left;
    position: relative;
    height: auto;
    max-height: 480px;
    list-style-type:none;
    min-height:360px;
		background:#fff;
}

.main-list-item-pbr {
    width: 100%;
    border: solid 1px #f1ac1e;
    margin: 0 3% 30px 1%;
    float: left;
    position: relative;
    height: auto;
    max-height: 480px;
    list-style-type:none;
    min-height:250px;
		background:#fff;
}

.main-list-item:nth-child(3){
    margin: 0 5px;
}
.main-list-item-pbr ul, .main-list-item-patent ul {
    padding-left:25px;
    line-height: 1.6;
}

.list-header-pbr{
    background: #30aeb6;
    position: relative;
}
.list-header-patent{
    background: #f1ac1e;
    position: relative;
}
.content-new-tm .para.col-white,.content-new-tm .heading.col-white{
    color: #fff;
}
.heading.col-white ul{
    list-style-type:none;
}
.list-header-pbr .heading, .list-header-patent .heading{
    margin: 0;
    display: block;
    padding: 10px 15px;
    color:white;
    margin-top:-10px;
}

#block-bean-get-your-ip-homepage-block .patents a, #block-bean-get-your-ip-homepage-block .trade-marks a, #block-bean-get-your-ip-homepage-block .designs a, #block-bean-get-your-ip-homepage-block .pbr a, #block-bean-get-your-ip-homepage-block .copyright a {
	padding-top: 10px;
	font-size:18px;
	color:#0d252c;
}
#quicktabs-tabpage-homepage_main_tab-2 ul {
	list-style:none;
	padding-left:0;
}
#quicktabs-tabpage-homepage_main_tab-2 .bs-callout-purple, #quicktabs-tabpage-homepage_main_tab-2 .bs-callout-purple a {
	background:#fff;
	color:#000;
	margin:3px 0;
	font-size:16px;
	font-weight:bold;
}

/* end alistairs css */

@media only screen and (min-width: 768px){
div.container div.container{
    width: 100%;
}
}

#block-quicktabs-homepage-main-tab h3.block-title {
    color:#FFF;
}
