.region
{
	/*border: thin solid black;  just for debugging */
}

.navbar-header
{
	float: none;
}


.megamenu-tab-contents {
    position: absolute;
}
/*default heading styles for site*/
h1, h2, h3, h4, h5, h6 {color:#1D252C;font-family: 'montserratbold', sans-serif;}

h1 {font-size: 60px; line-height: 72px;}
h2 {font-size: 44px; line-height: 60px;}
h3 {font-size: 36px; line-height: 44px;}
h4 {font-size: 24px; line-height: 30px;}
h5 {font-size: 20px; line-height: 24px;}
h6 {font-size: 18px; line-height: 24px;}

/*default font for site*/
body {font-family: 'robotoregular', sans-serif;}

/*gold color for links*/
a {color:#977100;}
a:hover {color:#977100;}
a:active {color:#977100;}
a:visited {color:#977100;}

/* fonts - Montserrat regular and bold. Reference the font family to use*/
@font-face {
    font-family: 'montserratregular';
    src: url('fonts/montserrat-regular-webfont.eot');
    src: url('fonts/montserrat-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/montserrat-regular-webfont.woff2') format('woff2'),
         url('fonts/montserrat-regular-webfont.woff') format('woff'),
         url('fonts/montserrat-regular-webfont.ttf') format('truetype'),
         url('fonts/montserrat-regular-webfont.svg#montserratregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserratbold';
    src: url('fonts/montserrat-bold-webfont.eot');
    src: url('fonts/montserrat-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/montserrat-bold-webfont.woff2') format('woff2'),
         url('fonts/montserrat-bold-webfont.woff') format('woff'),
         url('fonts/montserrat-bold-webfont.ttf') format('truetype'),
         url('fonts/montserrat-bold-webfont.svg#montserratbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotobold';
    src: url('fonts/roboto-bold-webfont.eot');
    src: url('fonts/roboto-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/roboto-bold-webfont.woff2') format('woff2'),
         url('fonts/roboto-bold-webfont.woff') format('woff'),
         url('fonts/roboto-bold-webfont.ttf') format('truetype'),
         url('fonts/roboto-bold-webfont.svg#robotobold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotolight';
    src: url('fonts/roboto-light-webfont.eot');
    src: url('fonts/roboto-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/roboto-light-webfont.woff2') format('woff2'),
         url('fonts/roboto-light-webfont.woff') format('woff'),
         url('fonts/roboto-light-webfont.ttf') format('truetype'),
         url('fonts/roboto-light-webfont.svg#robotolight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotoregular';
    src: url('fonts/roboto-regular-webfont.eot');
    src: url('fonts/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/roboto-regular-webfont.woff2') format('woff2'),
         url('fonts/roboto-regular-webfont.woff') format('woff'),
         url('fonts/roboto-regular-webfont.ttf') format('truetype'),
         url('fonts/roboto-regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* callout boxes for blocks on landing pages and tools links */
.bs-callout, .bs-vert-callout {
	padding:20px;
	margin:20px 0;
	border:0px solid #eee;
	border-radius:0px;
	background-color:#EEF0F1;
}
.bs-vert-callout{min-height: 430px;}

.bs-callout-patents, .bs-vert-callout-patents  {border-color:#30AEB6 !important;}
.bs-callout-trade-marks, .bs-vert-callout-trade-marks {border-color:#DE4326 !important;}
.bs-callout-designs, .bs-vert-callout-designs {border-color:#84C98F !important;}
.bs-callout-pbr, .bs-vert-callout-pbr {border-color:#F1AC1E !important;}
.bs-callout-purple, .bs-vert-callout-purple {border-color:#704579 !important;}
.bs-callout-charcoal, .bs-vert-callout-charcoal {border-color:#1D252C !important;}

.bs-vert-callout {border-bottom-width:5px !important;}
.bs-callout {border-left-width:5px !important;}

.panels-flexible-row-four_column_panel_with_top_and_bottom-main-row h3 {
    text-transform: uppercase;
    font-size: 18px;
}

/*removes additional heading on homepage*/
.pane-quicktabs-news-events-and-media h2 {display:none;}

/* alistairs css for landing page boxes */
.main-list-item-patent {
    width: 100%;
    border: solid 1px #30aeb6;
    margin: 0 3% 30px 1%;
    float: left;
    position: relative;
    height: auto;
    max-height: 480px;
    list-style-type:none;
    min-height:360px;
		background:#fff;
}

.main-list-item-pbr {
    width: 100%;
    border: solid 1px #f1ac1e;
    margin: 0 3% 30px 1%;
    float: left;
    position: relative;
    height: auto;
    max-height: 480px;
    list-style-type:none;
    min-height:250px;
		background:#fff;
}

.main-list-item:nth-child(3){
    margin: 0 5px;
}
.main-list-item-pbr ul, .main-list-item-patent ul {
    padding-left:25px;
    line-height: 1.6;
}

.list-header-pbr{
    background: #30aeb6;
    position: relative;
}
.list-header-patent{
    background: #f1ac1e;
    position: relative;
}
.content-new-tm .para.col-white,.content-new-tm .heading.col-white{
    color: #fff;
}
.heading.col-white ul{
    list-style-type:none;
}
.list-header-pbr .heading, .list-header-patent .heading{
    margin: 0;
    display: block;
    padding: 10px 15px;
    color:white;
    margin-top:-10px;
}

#block-bean-get-your-ip-homepage-block .patents a, #block-bean-get-your-ip-homepage-block .trade-marks a, #block-bean-get-your-ip-homepage-block .designs a, #block-bean-get-your-ip-homepage-block .pbr a, #block-bean-get-your-ip-homepage-block .copyright a {
	padding-top: 10px;
	font-size:18px;
	color:#0d252c;
}
#quicktabs-tabpage-homepage_main_tab-2 ul {
	list-style:none;
	padding-left:0;
}
#quicktabs-tabpage-homepage_main_tab-2 .bs-callout-purple, #quicktabs-tabpage-homepage_main_tab-2 .bs-callout-purple a {
	background:#fff;
	color:#000;
	margin:3px 0;
	font-size:16px;
	font-weight:bold;
}
#quicktabs-tabpage-homepage_main_tab-1 li.patents, #quicktabs-tabpage-homepage_main_tab-1 li.trade-marks, #quicktabs-tabpage-homepage_main_tab-1 li.designs, #quicktabs-tabpage-homepage_main_tab-1 li.pbr, #quicktabs-tabpage-homepage_main_tab-1 li.copyright {
	height:68px;
	padding-top:22px !important;
}
/* end alistairs css */
/* start iconography */
.sml-link-icon-search{background:url("../images/link-search.png") no-repeat; height:36px; width:36px; float:left; margin-right:12px;margin-top:-5px;}
.sml-link-icon-checklist{background:url("../images/link-checklist.png") no-repeat; height:36px; width:36px; float:left; margin-right:12px;margin-top:-5px;}
.sml-link-icon-process{background:url("../images/link-process.png") no-repeat; height:36px; width:36px; float:left; margin-right:12px;margin-top:-5px;}
.sml-link-icon-fees{background:url("../images/link-fees.png") no-repeat; height:36px; width:36px; float:left; margin-right:12px;margin-top:-5px;}
.sml-link-icon-apply{background:url("../images/link-apply.png") no-repeat; height:36px; width:36px; float:left; margin-right:12px;margin-top:-5px;}
.sml-link-icon-more{background:url("../images/link-extra.png") no-repeat; height:36px; width:36px; float:right; margin-top:-28px;}
/* end icongraphy */
@media only screen and (min-width: 768px){
div.container div.container{
    width: 100%;
}
}

#block-quicktabs-homepage-main-tab h3.block-title {
    color:#FFF;
}
.footer .block-menu-block .nav .last ul li {margin-top:-2px;}
.footer .block-menu-block .nav .last ul li a{padding-left:50px; margin-top:5px; padding-top:8px;}
.footer .icon-facebook {background:url("../images/sm-facebook.png") no-repeat !important; height:36px; width:36px; float:left;}
.footer .icon-twitter {background:url("../images/sm-twitter.png") no-repeat !important; height:36px; width:36px; float:left;}
.footer .icon-linkedin {background:url("../images/sm-linkedin.png") no-repeat !important; height:36px; width:36px; float:left;}
.footer .icon-youtube {background:url("../images/sm-youtube.png") no-repeat !important; height:36px; width:36px; float:left;}



/* search */
.page-search .search-info {
	display:none;
}

.page-search li.search-result {
  display:block;
  background:#eff0f2;
  padding:35px;
  margin-bottom:10px;
}


.page-search ol.search-results {
  display: block;
  list-style-type: none;
  padding: 0px !important;
}


.page-search .search-snippet-info h1, .search-snippet-info h2, .search-snippet-info h3, .search-snippet-info h4 {
  font-size:15px;

}

.page-search .search-snippet-info img {
  display:none;
}

.page-search h3.title {
  decoration:underline;

}

.page-search .search-result h3 a {
  color #od252c;
  text-decoration:underline;
  font-size:24px;
}

.pagination > li > a, .pagination > li > span {
	color:#000;
}
.pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    z-index: 2;
    color: #fff;
    cursor: default;
    background-color: #0d252c;
    border-color: #0d252c;
}

/* case studies listing */
.page-tools-resources-case-studies .views-row {
background:#eff0f2;
margin-bottom:10px;
}
.page-tools-resources-case-studies .views-row .views-field-title a{
	color:#0d252c;
	font-size:24px;
	font-weight:bold;
	text-decoration:underline;
}
.page-tools-resources-case-studies .views-field-field-date, .page-tools-resources-case-studies .views-row .panel-col-last .views-field-field-date {
color:#999;
margin-bottom:10px;
}
.page-tools-resources-case-studies .views-row .panel-col-first {
width:23%;
}
.page-tools-resources-case-studies .views-row .panel-col-last {
padding-top:22px;
width:70%;
}
.page-tools-resources-case-studies .views-row .panel-col-first img {
margin:30px;
width:140px;
height:140px;
}
/* end case studies listing */
/* start events and news listing */
.page-about-us-news-and-community-events .views-row, .page-about-us-news-and-community-news .views-row, .page-tools-resources-publications---reports .views-row {
background:#eff0f2;
margin-bottom:10px;
}
.page-about-us-news-and-community-events .views-row .views-field-title a, .page-about-us-news-and-community-news .views-row .views-field-title a, .page-tools-resources-publications---reports .views-row .views-field-title a{
	color:#0d252c;
	font-size:24px;
	font-weight:bold;
	text-decoration:underline;
}
.page-about-us-news-and-community-events .views-field-field-organiser, .page-about-us-news-and-community-news .views-field-field-organiser{
	display:none;
}
.page-about-us-news-and-community-events .views-field-field-event-date-1, .page-news-media-events .views-field-field-location, .page-tools-resources-publications---reports .views-label-field-publish-online-date {
color:#999;
}
.page-about-us-news-and-community-events .views-row .panel-col-first, .page-about-us-news-and-community-news .views-row .panel-col-first, .page-tools-resources-publications---reports .views-row .panel-col-first {
width:23%;
}
.page-about-us-news-and-community-events .views-row .panel-col-last, .page-about-us-news-and-community-news .views-row .panel-col-last, .page-tools-resources-publications---reports .views-row .panel-col-last {
width:70%;
}
.page-tools-resources-publications---reports .views-row .panel-col-last {
	padding-top:30px;
}
.page-about-us-news-and-community-events .views-row .panel-col-first img, .page-about-us-news-and-community-news .views-row .panel-col-first img, .page-tools-resources-publications---reports .views-row .panel-col-first img {
margin:30px;
width:140px;
height:140px;
}
.page-about-us-news-and-community-news .views-field-field-news-date {
	padding-top:25px;
	color:#999;
}

.page-about-us-news-and-community-news .views-field-field-news-date .views-label-field-news-date {
	display:none;
}
/* end events and news listing */
/* start forms listing */

.page-tools-resources-pdf-forms .views-row, .page-tools-resources-patents-forms .views-row, .page-tools-resources-trade-marks-forms .views-row, .page-tools-resources-designs-forms .views-row, .page-tools-resources-pbr-forms .views-row {
background:#eff0f2;
margin-bottom:10px;
padding:20px;
}
.page-tools-resources-pdf-forms .views-row .views-field-title a, .page-tools-resources-patents-forms .views-row .views-field-title a, .page-tools-resources-trade-marks-forms .views-row .views-field-title a, .page-tools-resources-designs-forms .views-row .views-field-title a, .page-tools-resources-pbr-forms .views-row .views-field-title a {
	color:#0d252c;
	font-size:24px;
	font-weight:bold;
	text-decoration:underline;
}
.page-tools-resources-pdf-forms .views-row .date-display-single, .page-tools-resources-patents-forms .views-row .date-display-single, .page-tools-resources-trade-marks-forms .views-row .date-display-single, .page-tools-resources-designs-forms .views-row .date-display-single, .page-tools-resources-pbr-forms .views-row .date-display-single, .page-tools-resources-publications---reports .views-row .date-display-single  {
	color:#999;
}
.page-tools-resources-pdf-forms .views-row .views-label-field-publish-online-date, .page-tools-resources-patents-forms .views-row .views-label-field-publish-online-date, .page-tools-resources-trade-marks-forms .views-row .views-label-field-publish-online-date, .page-tools-resources-designs-forms .views-row .views-label-field-publish-online-date, .page-tools-resources-pbr-forms .views-row .views-label-field-publish-online-date {
	display:none;
}
/* end forms listing */
/* nav css */
/* ide nav code */
li.leaf {
    border-bottom-style: dotted;
    border-bottom-width: 2px;
    border-bottom-color: #ccc;
}

.region.region-sidebar-first.well {
    border-top-style: solid;
    border-top-width: 5px;
}

.well {
    min-height: 20px !important;
    padding: 0px !important;
    background-color: #fff !important;
    border-radius: 0px !important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .0) !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .0) !important;
}

li.leaf a {
    color: #000;
    text-transform: uppercase;
    font-family: robotobold, sans-serif;
}


.nav > li > a:hover {
  background-color: #f0f1f3 !important;
}
/* end nav css */
