.pane-bean-tools-and-resources-trade-mark {
	cursor:pointer;
}
.pane-bean-tools-and-resources-pbr {
	cursor:pointer;
}
.pane-bean-tools-and-resources-designs {
	cursor:pointer;
}
.pane-bean-tools-and-resources {
	cursor:pointer;
}
.pane-bean-tools-and-resources-trade-mark {
	cursor:pointer;
}
.pane-bean-tools-and-resources-generic-bloc{
	cursor: pointer;
}