/* page reset */
.masthead-wrapper {
  display: none;
}

section[aria-label = "main"] {
  padding-left: 0;
  padding-right: 0;
}

@media only screen and (min-width: 1180px) {
  .field-name-field-masthead-image  .img-responsive {
    padding-right: 12px;
    padding-top: 30px;
    max-height: 120px;
  }
}

/* section --- */

/* list */

ul.grid {
  display: table;
  list-style: none;
  padding: 0;
  width: 100%;
}

.grid li {
  background-position: top right;
  border-radius: 20px;
  background-repeat: no-repeat;
  background-size: 289px 260px;
  border: 3px solid #fff;
  display: table-cell;
  float: left;
  height: 200px;
  margin-bottom: 12px;
  vertical-align: bottom;
  width: 100%;

  transition: border-color .25s ease-in-out;
  -moz-transition: border-color .25s ease-in-out;
  -webkit-transition: border-color .25s ease-in-out;
}

.grid li:hover {
  border-color: #632466;
}

.grid li a {
  color: #141414;
  display: block;
  font-size: 1.1em;
  font-weight: bold;
  height: 100%;
  padding-left: 25px;
  padding-top: 100px;
  text-decoration: none;
  width: 100%;
}

.grid li#welcome {
  background-image: url('https://ipaustralia.govcms.gov.au/sites/g/files/net856/f/zed-welcome-2018.png');
  background-color: #F9E6B9; /*#f5b21e;*/
}

.grid li#chapter-1 {
  background-image: url('https://ipaustralia.govcms.gov.au/sites/g/files/net856/f/c1-introduction-2018.png');
  background-color: #F9E6B9; /*#f6b221;*/
}

.grid li#chapter-2 {
  background-image: url('https://ipaustralia.govcms.gov.au/sites/g/files/net856/f/c2-patents-2018.png');
  background-color: #98D5E1; /*#3ab0c8;*/
}

.grid li#chapter-3 {
  background-image: url('https://ipaustralia.govcms.gov.au/sites/g/files/net856/f/c3-trademark-2018.png');
  background-color: #FDEAE8; /*#d74022;*/
}

.grid li#chapter-4 {
  background-image: url('https://ipaustralia.govcms.gov.au/sites/g/files/net856/f/c4-designs-2018.png');
  background-color: #C8EAD4; /*#6ecb98;*/
}

.grid li#chapter-5 {
  background-image: url('https://ipaustralia.govcms.gov.au/sites/g/files/net856/f/c5-pbr-2018.png');
  background-color: #F9E6B9; /*#f6b221;*/
}

.grid li#chapter-6 {
  background-image: url('https://ipaustralia.govcms.gov.au/sites/g/files/net856/f/c6-collab-research-2018.png');
  background-color: #F6E4F6; /*#632466;*/
}

.grid li#chapter-7 {
  background-image: url('https://ipaustralia.govcms.gov.au/sites/g/files/net856/f/c7-location-names-2018.png');
  background-color: #F6E4F6; /*#632466;*/
}

.grid li#chapter-8 {
  background-image: url('https://ipaustralia.govcms.gov.au/sites/g/files/net856/f/c8-project-2018.png');
  background-color: #F6E4F6; /*#632466;*/
}

@media only screen and (min-width: 1180px) {
  ul.grid {
    width: 1180px;
  }

  .grid li {
    height: 200px;
    margin-bottom: 12px;
    margin-left: 6px;
    margin-right: 6px;
    width: 370px;
  }
}
