@import url(font-awesome-4.2.0/css/font-awesome.min.css);
/* colors */
/* sizes */
.loading-dots {
  position: relative;
  height: 48px;
  width: 114px;
  display: inline-block;
  background-image: url("../images/ui/dots-01.gif");
  background-size: 114px 48px;
}

#ipAustralia-block {
  -webkit-font-smoothing: antialiased;
  width: 380px;
  position: fixed;
  background: white;
  font-size: 18px;
  right: 10%;
  bottom: 0px;
  line-height: 18px;
  -moz-box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.5);
  transition: all 1s ease;
  z-index: 101;
  /********************************/
  /* CSS for Placeholder polyfill */
  /********************************/
  /* Added to show Service interruption*/
}
#ipAustralia-block .nw_open {
  height: 548px;
}
#ipAustralia-block .nw_open .nw_Input {
  bottom: 20px;
}
#ipAustralia-block .nw_open .nw_Dialog {
  display: inline-block;
}
#ipAustralia-block .nw_closed .nw_Dialog {
  height: 60px;
  display: none;
}
#ipAustralia-block.closed .nw_Dialog {
  height: 60px;
  display: none;
}
#ipAustralia-block .nw_Header {
  background-color: #CED2D5;
  height: 60px;
  width: 100%;
  color: #1D252C;
  font-size: 16px;
  display: table;
  cursor: pointer;
}
#ipAustralia-block .nw_Header .nw_AvtContainer {
  display: table-cell;
  width: 90px;
}
#ipAustralia-block .nw_Header .nw_Avatar {
  background-color: transparent;
  background-image: url("../images/ui/alex.png");
  background-attachment: scroll;
  background-repeat: no-repeat;
  width: 67px;
  height: 82px;
  left: 15px;
  position: absolute;
  top: -23px;
}
#ipAustralia-block .nw_Header .nw_AgentHeader {
  font-family: 'Montserrat', sans-serif;
  display: table-cell;
  line-height: 50px;
  font-weight: 700;
  font-size: 18px;
  padding-top: 6px;
}
#ipAustralia-block .nw_Header .nw_Controls {
  display: table-cell;
  width: 85px;
}
#ipAustralia-block .nw_Header .nw_Controls .button {
  width: 36px;
  height: 36px;
  border: none;
  vertical-align: middle;
  display: inline-block;
  /*outline: none;*/
}
#ipAustralia-block .nw_Header .nw_Controls .button:focus {
  border: 1px dotted;
  border-color: #ddffee !important;
}
#ipAustralia-block .nw_Header .nw_Expand {
  background-image: url("../images/ui/expand.png");
  background-attachment: scroll;
  background-repeat: no-repeat;
}
#ipAustralia-block .nw_Header .nw_collapse {
  background-image: url("../images/ui/shrink.png");
  background-attachment: scroll;
  background-repeat: no-repeat;
}
#ipAustralia-block .nw_Header .nw_Close {
  background-image: url("../images/ui/close.png");
  background-attachment: scroll;
  background-repeat: no-repeat;
  position: absolute;
  right: 5px;
  top: 15px;
}
#ipAustralia-block .nw_Header .nwOpen {
  background-image: url("../images/ui/open.png");
  background-attachment: scroll;
  background-repeat: no-repeat;
  position: absolute;
  right: 5px;
  top: 15px;
}
#ipAustralia-block .expanded .nw_Expand {
  height: 648px;
  width: 760px;
}
#ipAustralia-block .expanded.nw_Expand {
  background-position: 10px -20px;
}
#ipAustralia-block .expanded.nw_Dialog {
  height: 413px;
}
#ipAustralia-block.ipadExpand {
  width: 580px;
  height: 648px;
}
#ipAustralia-block .fa {
  font-family: "FontAwesome";
}
#ipAustralia-block .nw_Preprod {
  display: inline-block;
}
#ipAustralia-block .nw_Dialog {
  height: 100%;
}
#ipAustralia-block .nw_Conversation {
  position: absolute;
  top: 60px;
  /*bottom: 75px;*/
  bottom: 104px;
  left: 0;
  right: 0;
  padding: 10px;
  overflow-y: scroll;
  background: white;
  display: none;
}
#ipAustralia-block .nw_ConversationText a {
  color: #015a96;
  text-decoration: underline;
}
#ipAustralia-block .nw_ConversationText a:hover {
  text-decoration: none;
}
#ipAustralia-block .nw_ConversationText ul,
#ipAustralia-block .nw_ConversationText ol {
  padding: .5em 0 .5em 1em;
}
#ipAustralia-block .nw_ConversationText li {
  margin-bottom: .1em;
  margin-top: .4em;
}
#ipAustralia-block .nw_ConversationText ul li {
  list-style: disc outside none;
}
#ipAustralia-block .nw_ConversationText ol li {
  list-style: decimal outside none;
}
#ipAustralia-block .nw_ConversationText em,
#ipAustralia-block .nw_ConversationText i {
  font-style: italic;
}
#ipAustralia-block .nw_ConversationText strong,
#ipAustralia-block .nw_ConversationText b {
  font-weight: 600;
}
#ipAustralia-block .nw_ConversationText hr {
  display: none;
}
#ipAustralia-block .nw_AgentSays,
#ipAustralia-block .nw_UserSays {
  padding: 20px;
}
#ipAustralia-block .nw_AgentSays {
  margin-bottom: 10px;
  background-color: #EEF0F1;
  padding: 10px;
  margin-left: 15px;
  margin-right: 30px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  position: relative;
  word-wrap: break-word;
  font-size: 16px;
  font-family: calibri;
  color: #1D252C;
  /*width: 80%;*/
}
#ipAustralia-block .nw_AgentSays:before {
  content: ' ';
  display: block;
  position: absolute;
  left: -7px;
  top: 30%;
  height: 14px;
  width: 14px;
  background-color: #ededed;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
}
#ipAustralia-block .nw_UserSays {
  margin-bottom: 10px;
  color: #1D252C;
  background-color: #FDF9E5;
  padding: 10px;
  margin-left: 30px;
  margin-right: 15px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  position: relative;
  word-wrap: break-word;
  font-size: 16px;
  font-family: calibri;
  /*width: 80%;*/
}
#ipAustralia-block .nw_UserSays:before {
  content: ' ';
  display: block;
  position: absolute;
  right: -7px;
  top: 30%;
  height: 14px;
  width: 14px;
  background-color: #FDF9E5;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
}
#ipAustralia-block .nw_SystemSays {
  border-bottom: 1px solid #999;
  padding-bottom: 5px;
  margin-bottom: 10px;
  font-size: 10px;
  color: #999;
  text-align: center;
}
#ipAustralia-block .nw_TranscriptLink {
  position: relative;
  color: #015a96;
  cursor: pointer;
  padding: 0;
  font-family: calibri;
  font-size: 1.2em;
}
#ipAustralia-block .nw_TranscriptLink .fa {
  font-size: 1.2em;
}
#ipAustralia-block .nw_TranscriptLink:hover {
  color: #999;
}
#ipAustralia-block hr {
  display: none;
}
#ipAustralia-block .nw_Input {
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 20px;
  height: 50px;
  border: 1px solid #b4b4b4;
  background: #fff;
}
#ipAustralia-block .nw_DialogForm {
  height: 50px;
  line-height: 50px;
  display: table;
  margin: 10px 20px 20px;
  border: 1px solid #B6BEC0;
  padding: 0 15px;
  padding-right: 0;
  background-color: aqua;
}
#ipAustralia-block .nw_logoContainer {
  display: table-cell;
  vertical-align: middle;
  padding-left: 10px;
}
#ipAustralia-block .nw_UserInputContainer {
  width: 100%;
  display: table-cell;
  background-color: azure;
}
#ipAustralia-block .nw_minimize1 {
  height: auto;
  border-bottom: 2px solid #fff;
  transition: all 1s ease;
}
#ipAustralia-block .nw_minimize1 .nw_Input {
  position: relative;
  display: inline-block;
}
#ipAustralia-block .nw_UserInputField {
  position: initial;
  margin: 4px 0 0 4px;
  width: 80%;
  padding: 10px;
  height: 40px;
  top: 6px;
  line-height: 16px;
  resize: none;
  border: none;
  color: #1D252C;
  font-size: 18px;
  font-family: calibri;
  overflow: hidden;
  border: none;
}
#ipAustralia-block .nw_UserSubmit {
  margin-left: 10px;
}
#ipAustralia-block .nw_SubmitBtn {
  right: 0px;
  position: absolute;
  top: 15px;
  width: 60px;
  border: none;
  background: none;
  color: #015a96;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 400;
}
#ipAustralia-block.nwSend {
  height: 548px;
  width: 380px;
  transition: all 1s ease;
}
#ipAustralia-block .nw_Header.nwMinimize {
  bottom: 60px;
}
#ipAustralia-block .nw_Dialog.nwMinimize {
  display: none;
}
#ipAustralia-block .nw_Expand.button.nw_initial {
  display: none;
}
#ipAustralia-block .nw_Dialog.nwSend {
  display: inline-block;
}
#ipAustralia-block .nw_Conversation.nwSend {
  display: inline-block;
}
#ipAustralia-block.nw_initial {
  height: 120px;
  transition: all 1s ease;
}
#ipAustralia-block .nw_Input.nw_initial {
  bottom: 0px;
  border: none;
  width: 94%;
}
#ipAustralia-block .nw_Expand.button.nw_initial {
  display: none;
}
#ipAustralia-block.open {
  height: 548px;
  width: 380px;
}
#ipAustralia-block .nw_Dialog.open {
  display: inline-block;
}
#ipAustralia-block .nw_Conversation.open {
  display: inline-block;
}
#ipAustralia-block .nw_Input.open {
  bottom: 20px;
}
#ipAustralia-block .nwExpanded {
  height: 648px;
  width: 760px;
}
#ipAustralia-block.nwNormal {
  height: 548px;
  width: 380px;
  transition: all 1s ease;
}
#ipAustralia-block .nw_Dialog.nwNormal {
  display: inline-block;
}
#ipAustralia-block .nw_Conversation.nwNormal {
  display: inline-block;
}
#ipAustralia-block .nw_Input.nwNormal {
  bottom: 20px;
}
#ipAustralia-block .nw_Expand.button.nwNormal {
  display: inline-block;
}
#ipAustralia-block.nwExpand1 {
  height: 648px;
  width: 760px;
  transition: all 1s ease;
}
#ipAustralia-block .nw_Dialog.nwExpand1 {
  display: inline-block;
}
#ipAustralia-block .nw_Conversation.nwExpand1 {
  display: inline-block;
}
#ipAustralia-block .nw_Header.nwClosed {
  height: 60px;
  bottom: 0px;
}
#ipAustralia-block .nw_Dialog.nwClosed {
  display: none;
}
#ipAustralia-block .nw_Expand.nwClosed {
  display: none;
}
#ipAustralia-block .nw_Expand.button.nwClosed {
  display: none;
}
#ipAustralia-block .nwAutosize1.nw_UserInputField {
  font-size: 18px;
}
#ipAustralia-block .nwAutosize2.nw_UserInputField {
  font-size: 16px;
}
#ipAustralia-block .placeholderWrap {
  position: relative;
  display: block;
}
#ipAustralia-block .placeholderWrap label {
  color: #555;
  position: absolute;
  left: 3px;
  /*pointer-events: none;*/
  cursor: text;
  display: block;
}
#ipAustralia-block .placeholder-focus label {
  color: #999;
}
#ipAustralia-block .placeholder-changed label {
  display: none;
}
#ipAustralia-block.nw_initial {
  height: 120px;
  transition: all 1s ease;
}
#ipAustralia-block .nw_Input.nw_initial {
  bottom: 0px;
  border: none;
}
#ipAustralia-block .nw_Expand.button.nw_initial {
  display: none;
}
#ipAustralia-block .nw_ErrorSays {
  width: 100%;
  margin-bottom: 10px;
  color: cornsilk;
  background-color: goldenrod;
  padding: 10px;
  margin-right: 15px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  position: relative;
  word-wrap: break-word;
  font-size: 17px;
  font-family: calibri;
}
#ipAustralia-block .nw_AgentStatus {
  height: 16px;
  display: block;
  position: absolute;
  bottom: 72px;
  left: 20px;
  width: 90%;
}
#ipAustralia-block .nw_StatusMessage {
  /* position: absolute; */
  margin-top: -3px;
  /* margin-bottom: 2px; */
  left: 10px;
  font-family: "calibri";
  font-weight: 300;
  font-size: 14px;
  color: #B6BEC0;
  bottom: 78px;
  left: 29px;
}
#ipAustralia-block .nw_StatusVisibility {
  display: inline-block;
}
#ipAustralia-block .nw_StatusVisibilityNone {
  display: none;
}
#ipAustralia-block .nw_LiveAgentHeader {
  background-color: #612166;
  height: 60px;
  width: 100%;
  color: white;
  font-size: 16px;
  display: table;
  cursor: pointer;
}
#ipAustralia-block .nw_LiveAgentHeader .nw_AvtContainer {
  display: none;
}
#ipAustralia-block .nw_LiveAgentHeader .nw_Avatar {
  display: none;
}
#ipAustralia-block .nw_LiveAgentHeader .nw_AgentHeader {
  color: white;
  font-family: 'Montserrat', sans-serif;
  display: table-cell;
  line-height: 50px;
  font-weight: 700;
  font-size: 18px;
  padding-top: 6px;
  padding-left: 26px;
}
#ipAustralia-block .nw_LiveAgentHeader .nw_Controls {
  display: table-cell;
  width: 125px;
}
#ipAustralia-block .nw_LiveAgentHeader .nw_Controls .button {
  width: 36px;
  height: 36px;
  border: none;
  vertical-align: middle;
  display: inline-block;
  /*outline: none;*/
}
#ipAustralia-block .nw_LiveAgentHeader .nw_Controls .button:focus {
  border: 1px dotted;
  border-color: #ddffee !important;
}
#ipAustralia-block .nw_LiveAgentHeader .nw_Expand {
  background-image: url("../images/ui/expand-white.png");
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-color: transparent;
  display: block;
}
#ipAustralia-block .nw_LiveAgentHeader .nw_collapse {
  background-image: url("../images/ui/shrink-white.png");
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-color: transparent;
}
#ipAustralia-block .nw_LiveAgentHeader .nw_Close {
  background-image: url("../images/ui/close-white.png");
  background-attachment: scroll;
  background-repeat: no-repeat;
  position: absolute;
  right: 46px;
  top: 15px;
  background-color: transparent;
}
#ipAustralia-block .nw_LiveAgentHeader .nwOpen {
  background-image: url("../images/ui/open-white.png");
  background-attachment: scroll;
  background-repeat: no-repeat;
  position: absolute;
  /*right: 5px;
  top: 15px;*/
  right: 46px;
  top: 15px;
  background-color: transparent;
}
#ipAustralia-block .nw_LiveAgentHeader .nw_closeCross {
  background-image: url("../images/ui/end-white.png");
  background-attachment: scroll;
  background-repeat: no-repeat;
  position: absolute;
  right: 5px;
  top: 15px;
  background-color: transparent;
}
#ipAustralia-block .transitionPhase {
  background-color: bisque;
  position: absolute;
  bottom: 112px;
  font-size: 13px;
  border-top-style: dotted;
  border-top-width: thin;
  padding-left: 20px;
}
#ipAustralia-block .nw_transitionPhase {
  height: 50%;
  display: inline-block;
}
#ipAustralia-block #loader1 {
  position: absolute;
  left: 40%;
  top: 35%;
  border-radius: 20px;
  background-image: url("../images/spinner.gif");
  background-size: 64px 64px;
  width: 64px;
  height: 64px;
}
#ipAustralia-block .dcw {
  display: none;
  height: 100%;
  width: 100%;
  position: absolute;
}
#ipAustralia-block #dcw-container {
  width: 100%;
  height: 100%;
  display: inline-block;
}
#ipAustralia-block .dcw-iframe {
  border: none;
  width: 100%;
  height: 100%;
}
#ipAustralia-block #myObject {
  display: inline-block;
  width: 100%;
  height: 100%;
}
#ipAustralia-block #endChatMobile {
  display: none;
}

@media screen and (max-width: 767px) {
  #ipAustralia-block {
    margin: 5.1em 0 0 0;
    width: 100% !important;
    font-size: 18px;
    line-height: 22px;
    bottom: 0;
    top: 0;
    right: inherit;
    z-index: 101;
    transition: all 1s ease;
    box-shadow: none;
  }

  #ipAustralia-block.alex-display-confirmed {
    display: none;
  }

  #ipAustralia-block.alex-display-confirmed.nwNormal,
  #ipAustralia-block.alex-display-confirmed.nwSend,
  #ipAustralia-block.alex-display-confirmed.expanded {
    display: inline-block !important;
  }

  #ipAustralia-block.nwNormal {
    display: inline-block;
  }

  #ipAustralia-block.nwNormal .nw_Dialog,
  #ipAustralia-block.nwNormal .nw_Conversation {
    display: inline-block;
  }

  #ipAustralia-block .nw_Dialog {
    display: inline-block;
    right: .536em;
    right: .536rem;
    left: .536em;
    left: .536rem;
    max-width: 94.5%;
    min-width: 94.5%;
  }

  /* ios adjustment to make conversation "momentum" style scrolling */
  #ipAustralia-block .nw_Conversation {
    overflow-y: auto;
    /* has to be scroll, not auto */
    -webkit-overflow-scrolling: touch;
    width: initial;
    top: 0px;
    bottom: 11em;
    position: absolute;
    overflow-x: hidden;
  }

  #ipAustralia-block .nw_Input {
    bottom: 6em;
    height: 61px;
  }

  #ipAustralia-block .nw_DialogForm {
    width: 100%;
    margin: 0px;
    height: 100%;
    border: 0px;
    background: none;
  }

  #ipAustralia-block .nw_UserInputContainer {
    width: 80%;
    display: table-cell;
    background: none;
    border: none;
  }

  #ipAustralia-block .nw_UserInputField {
    font-size: 16px;
    padding-top: 16px;
    background: none;
    font-family: calibri;
    white-space: nowrap;
    height: 85%;
  }

  .nwAutosize1.nw_UserInputField {
    font-size: 16px;
  }

  #ipAustralia-block button.nw_SubmitBtn {
    top: 1.2em;
  }

  #ipAustralia-block .nw_AgentSays {
    font-family: calibri;
    padding: 20px;
    font-size: 16px;
  }

  #ipAustralia-block .nw_AgentSays.alex_Welcome {
    margin-left: 80px;
    min-height: 80px;
    padding: 20px;
    font-size: 16px;
  }

  #ipAustralia-block .nw_AgentSays .nw_Welcome:after {
    content: '';
    background-color: transparent;
    background-image: url("../images/ui/alex.png");
    background-attachment: scroll;
    background-repeat: no-repeat;
    display: block;
    position: absolute;
    height: 82px;
    width: 67px;
    top: 0px;
    left: -70px;
  }

  #ipAustralia-block .nw_ConversationText hr.nw_Welcome {
    display: block;
  }

  #ipAustralia-block.expanded {
    width: 100%;
    height: inherit;
  }

  #ipAustralia-block #nw_Header,
  #ipAustralia-block.closed,
  #ipAustralia-block.closed .nw_Dialog .nw_Input {
    display: none;
  }

  header .header .responsive-chat-icon {
    display: block;
    background: transparent url("../images/balloon.png") center center no-repeat;
    position: absolute;
    width: 35px;
    height: 45px;
    right: 110px;
    top: 22px;
    cursor: pointer;
    text-indent: -9999px;
    background-size: auto 22px;
  }

  .responsive-chat-icon-close {
    background: transparent url("../images/close-cross.png") center center no-repeat !important;
    background-size: auto 22px;
  }

  .responsive-chat-icon-liveagent {
    background: transparent url("../images/ui/close.png") center center no-repeat !important;
    background-size: auto 22px;
  }

  .responsive-chat-icon-liveagent-close {
    background: transparent url("../images/ui/open.png") center center no-repeat !important;
    background-size: auto 22px;
  }

  header .header .responsive-search-icon {
    display: block !important;
  }

  #ipAustralia-block .nw_AgentStatus {
    position: absolute;
    bottom: 176px;
  }

  #ipAustralia-block #endChatMobile {
    position: absolute;
    /* left: 139px; */
    /* padding-left: 146px;*/
    border-bottom: grey;
    border-bottom-style: dotted;
    width: 100%;
    border-width: thin;
    display: inline-block;
    font-family: calibri;
    font-size: 16px;
    padding-bottom: 10px;
  }

  #ipAustralia-block .nw_StatusVisibility {
    display: inline-block;
  }

  #ipAustralia-block .nw_StatusVisibilityNone {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  header .header .responsive-chat-icon {
    display: none !important;
  }

  header .header .responsive-search-icon {
    display: none !important;
  }

  #ipAustralia-block .nw_StatusVisibility {
    display: inline-block;
  }

  #ipAustralia-block .nw_StatusVisibilityNone {
    display: none;
  }
}
@media screen and (device-aspect-ratio: 375 / 667) {
  #ipAustralia-block .nw_AgentSays.alex_Welcome {
    width: 75%;
  }

  #ipAustralia-block .nw_StatusVisibility {
    display: inline-block;
  }

  #ipAustralia-block .nw_StatusVisibilityNone {
    display: none;
  }
}
@media screen and (device-aspect-ratio: 16 / 9) {
  #ipAustralia-block .nw_AgentSays.alex_Welcome {
    width: 75%;
  }

  #ipAustralia-block .nw_StatusVisibility {
    display: inline-block;
  }

  #ipAustralia-block .nw_StatusVisibilityNone {
    display: none;
  }
}
@media screen and (device-aspect-ratio: 9 / 16) {
  #ipAustralia-block .nw_AgentSays.alex_Welcome {
    width: 75%;
  }

  #ipAustralia-block .nw_StatusVisibility {
    display: inline-block;
  }

  #ipAustralia-block .nw_StatusVisibilityNone {
    display: none;
  }
}
@media screen and (device-aspect-ratio: 40 / 71) {
  #ipAustralia-block .nw_AgentSays.alex_Welcome {
    width: 70%;
  }

  #ipAustralia-block .nw_StatusVisibility {
    display: inline-block;
  }

  #ipAustralia-block .nw_StatusVisibilityNone {
    display: none;
  }
}
@media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) {
  #ipAustralia-block .nw_AgentSays.alex_Welcome {
    width: 70%;
  }

  #ipAustralia-block .nw_StatusVisibility {
    display: inline-block;
  }

  #ipAustralia-block .nw_StatusVisibilityNone {
    display: none;
  }
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  @import url("retinaSpritesStyleSheet.scss");
  #ipAustralia-block .nw_StatusVisibility {
    display: inline-block;
  }

  #ipAustralia-block .nw_StatusVisibilityNone {
    display: none;
  }
}
/* 1.25 dpr */
@media (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  /* Retina-specific stuff here */
  @import url("retinaSpritesStyleSheet.scss");
  #ipAustralia-block .nw_StatusVisibility {
    display: inline-block;
  }

  #ipAustralia-block .nw_StatusVisibilityNone {
    display: none;
  }
}
/* 1.3 dpr */
@media (-webkit-min-device-pixel-ratio: 1.3), (min-resolution: 124.8dpi) {
  /* Retina-specific stuff here */
  @import url("retinaSpritesStyleSheet.scss");
  #ipAustralia-block .nw_StatusVisibility {
    display: inline-block;
  }

  #ipAustralia-block .nw_StatusVisibilityNone {
    display: none;
  }
}
/* 1.5 dpr */
@media screen and (-webkit-min-device-pixel-ratio: 1.5) and (min-resolution: 144dpi) {
  /* Retina-specific stuff here */
  @import url("retinaSpritesStyleSheet.scss");
  #ipAustralia-block .nw_StatusVisibility {
    display: inline-block;
  }

  #ipAustralia-block .nw_StatusVisibilityNone {
    display: none;
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 13 / 10), only screen and (min-resolution: 120dpi) {
  @import url("retinaSpritesStyleSheet.scss");
}
#ipAustralia-block.closed .nw_Controls a[accesskey="e"] {
  display: none;
}

.nw_SubmitBtn:focus {
  outline: 2px solid blue;
}
