$break-point-xlarge:1200px;
$break-point-large:992px; /*Desktop tablet landscape*/
$break-point-medium:768px; /*Tablet*/
$break-point-midsmall:640px; /*Mobile Landscape*/
$break-point-small:480px; /*Mobile*/