// colours, with duplicates to remove,
// and name format to fix

// colours with duplicates to remove
$black: #000;
$black_0: rgba(0, 0, 0, .0);
$charcoal: #0d252c;
$color_firefly_approx: #0d252c;
$color_athens_gray_approx: #eff0f2;
$lighter-grey: #eff0f2;
$off-white: #eff0f2;
$color_buttercup_approx: #f1ac1e;
$yellow: #f1ac1e;
$color_de_york_approx: #84c98f;
$mint: #84c98f;
$color_eminence_approx: #704579;
$violet: #704579;
$color_pelorous_approx: #30aeb6;
$teal_pale: #f1f6f8;
$teal_light: #d6eff0;
$teal_medium: #a2d1df;
$teal: #30aeb6;
$color_punch_approx: #de4326;
$red_pale: #fcd4cd;
$red: #de4326;

// colours alpha order
$color_buttered_rum_approx: #977100;
$color_celeste_approx: #ccc;
$color_french_gray_approx: #b6bec1;
$color_gallery_approx: #eee;
$color_jagged_ice_approx: #c3e6e8;
$color_mountain_mist_approx: #999;
$color_oasis_approx: #fdedce;
$color_shark_approx: #1d252c;
$color_vanilla_ice_approx: #f2dede;
$color_willow_brook_approx: #dff0d8;
$grey: #b6bec0;
$light-grey: #e5e8ec;
$link-blue: #015a96;
$menu-active-color-patents: #273b42;
$menu-active-color-trademark: #360f08;
$menu-active-color-designs: #1c3e21;
$menu-active-color-plantbreeder: #3e2b04;
$off-black: #202020;
$purple: #612166;
$very-light-grey: #fafafa;
$white: #fff;

// functions with colours defined above
$footer-link-color: $link-blue;
$menu-active-color: $off-white;
