$url_landing_page_0: url(../images/arrow-right-transparent.png);
$url_landing_page_1: url(../images/transparent-pixel-purple_v2.png);
$url_landing_page_2: url(../images/transparent-pixel-teal.png);
$url_landing_page_3: url(../images/transparent-pixel-red.png);
$url_landing_page_4: url(../images/transparent-pixel-mint.png);
$url_landing_page_5: url(../images/transparent-pixel-yellow.png);
$url_landing_page_6: url(../images/link-tool.png);
$url_landing_page_7: url(../images/patents-landing.jpg);
$url_landing_page_8: url(../images/tablet.jpg);
$url_landing_page_9: url(../images/tm-banner.jpg);
$url_landing_page_10: url(../images/designs-banner.jpg);
$url_landing_page_11: url(../images/pbr-banner.jpg);
$url_landing_page_12: url(../images/tablet.jpg);
$url_landing_page_13: url(../images/contact-us-banner.jpg);
$url_landing_page_14: url(../images/careers-banner.jpg);
$url_landing_page_15: url(../images/dwn-arrow-charcoal.png);
$url_landing_page_16: url(../images/sm-facebook.png);
$url_landing_page_17: url(../images/sm-twitter.png);
$url_landing_page_18: url(../images/sm-linkedin.png);
$url_landing_page_19: url(../images/sm-youtube.png);

$url_30: url(../images/link-search.png);
$url_31: url(../images/link-checklist.png);
$url_32: url(../images/link-process.png);
$url_33: url(../images/link-fees.png);
$url_34: url(../images/link-apply.png);
$url_35: url(../images/link-extra.png);
$url_36: url(../images/sm-facebook.png);
$url_37: url(../images/sm-twitter.png);
$url_38: url(../images/sm-linkedin.png);
$url_39: url(../images/sm-youtube.png);