@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

article a { color:#000;}
a:hover { color:#000;text-decoration:none;}
.row-type { 
	padding: 5px 0px;
	height: 150px;
	overflow:hidden;
}
.row-patent {background-color:#30aeb6;color:#fff;height:150px;}
.row-trademark{background-color:#de4326;color:#fff;height:150px;}
.row-design{background-color:#84c98f;color:#1d252c;height:150px;}
.row-pbr{background-color:#f1ac1e;color:#1d252c;height:150px;}
.row-other{background-color:#fff;color:#1d252c;height:150px;}
.little{font-size:24px;text-style:inital;}

@media screen and (min-width: 1000px) {
.letterp {border: 5px solid; background-color:#1d252c;float:left;margin-left:75%;display:inline;padding-right:150px;border-radius:50%;border-color:#30aeb6;height:400px;width:400px;padding-top:125px;margin-top:-270px;}
.lettert {border: 5px solid; background-color:#1d252c;float:left;margin-left:75%;display:inline;padding-right:150px;border-radius:50%;border-color:#de4326;height:400px;width:400px;padding-top:122px;margin-top:-275px;}
.letterd {border: 5px solid; background-color:#1d252c;float:left;margin-left:75%;display:inline;padding-right:150px;border-radius:50%;border-color:#84c98f;height:400px;width:400px;padding-top:128px;margin-top:-235px;}
.letterpbr {border: 5px solid; background-color:#1d252c;float:left;margin-left:75%;display:inline;padding-right:150px;border-radius:50%;border-color:#f1ac1e;height:400px;width:400px;padding-top:125px;margin-top:-275px;}
.letterc {border: 5px solid; background-color:#1d252c;float:left;margin-left:75%;display:inline;padding-right:150px;border-radius:50%;border-color:#fff;height:400px;width:400px;padding-top:125px;margin-top:-235px;}
.lettero {border: 5px solid; background-color:#1d252c;float:left;margin-left:75%;display:inline;padding-right:150px;border-radius:50%;border-color:#fff;height:400px;width:400px;padding-top:130px;margin-top:-288px;}
}

@media screen and (max-width: 992px) {
.letterp {border: 5px solid; background-color:#1d252c;float:left;margin-left:75%;display:inline;padding-right:150px;border-radius:50%;border-color:#30aeb6;height:400px;width:400px;padding-top:125px;margin-top:-270px;padding-right:70px !important;}
.lettert {border: 5px solid; background-color:#1d252c;float:left;margin-left:75%;display:inline;padding-right:150px;border-radius:50%;border-color:#de4326;height:400px;width:400px;padding-top:122px;margin-top:-275px;padding-right:70px !important;}
.letterd {border: 5px solid; background-color:#1d252c;float:left;margin-left:75%;display:inline;padding-right:150px;border-radius:50%;border-color:#84c98f;height:400px;width:400px;padding-top:125px;margin-top:-270px;padding-right:70px !important;}
.letterpbr {border: 5px solid; background-color:#1d252c;float:left;margin-left:75%;display:inline;padding-right:150px;border-radius:50%;border-color:#f1ac1e;height:400px;width:400px;padding-top:125px;margin-top:-275px;padding-right:70px !important;}
.letterc {border: 5px solid; background-color:#1d252c;float:left;margin-left:75%;display:inline;padding-right:150px;border-radius:50%;border-color:#fff;height:400px;width:400px;padding-top:125px;margin-top:-235px;padding-right:70px !important;}
.lettero {border: 5px solid; background-color:#1d252c;float:left;margin-left:75%;display:inline;padding-right:150px;border-radius:50%;border-color:#fff;height:400px;width:400px;padding-top:130px;margin-top:-288px;padding-right:70px !important;}
}

@media screen and (max-width: 768px) {
.smtxt {padding-right:30%;margin-right:160px;}
.smtxtb {padding-right:20%;}
.letterp {border: 5px solid; background-color:#1d252c;float:left;margin-left:70%;display:inline;padding-right:150px;border-radius:50%;border-color:#30aeb6;height:400px;width:400px;padding-top:125px;margin-top:-250px;padding-right:220px !important;}
.lettert {border: 5px solid; background-color:#1d252c;float:left;margin-left:70%;display:inline;padding-right:150px;border-radius:50%;border-color:#de4326;height:400px;width:400px;padding-top:136px;margin-top:-230px;padding-right:220px !important;}
.letterd {border: 5px solid; background-color:#1d252c;float:left;margin-left:70%;display:inline;padding-right:150px;border-radius:50%;border-color:#84c98f;height:400px;width:400px;padding-top:125px;margin-top:-250px;padding-right:220px !important;}
.letterpbr {border: 5px solid; background-color:#1d252c;float:left;margin-left:70%;display:inline;padding-right:150px;border-radius:50%;border-color:#f1ac1e;height:400px;width:400px;padding-top:125px;margin-top:-250px;padding-right:220px !important;}
.letterc {border: 5px solid; background-color:#1d252c;float:left;margin-left:70%;display:inline;padding-right:150px;border-radius:50%;border-color:#fff;height:400px;width:400px;padding-top:125px;margin-top:-220px;padding-right:220px !important;}
.lettero {border: 5px solid; background-color:#1d252c;float:left;margin-left:70%;display:inline;padding-right:150px;border-radius:50%;border-color:#fff;height:400px;width:400px;padding-top:130px;margin-top:-280px;padding-right:220px !important;}
.tmhead {display:none;}
.tmbody {display:inline !important;}
}

@media screen and (max-width: 640px) {
.smtxt {padding-right:30%;}
.smtxtb {padding-right:20%;}
.letterp {border: 5px solid; background-color:#1d252c;float:left;margin-left:70%;display:inline;padding-right:250px;border-radius:50%;border-color:#30aeb6;height:400px;width:400px;padding-top:125px;margin-top:-280px;}
.lettert {border: 5px solid; background-color:#1d252c;float:left;margin-left:70%;display:inline;padding-right:250px;border-radius:50%;border-color:#de4326;height:400px;width:400px;padding-top:136px;margin-top:-230px;}
.letterd {border: 5px solid; background-color:#1d252c;float:left;margin-left:70%;display:inline;padding-right:250px;border-radius:50%;border-color:#84c98f;height:400px;width:400px;padding-top:125px;margin-top:-250px;}
.letterpbr {border: 5px solid; background-color:#1d252c;float:left;margin-left:70%;display:inline;padding-right:250px;border-radius:50%;border-color:#f1ac1e;height:400px;width:400px;padding-top:125px;margin-top:-280px;}
.letterc {border: 5px solid; background-color:#1d252c;float:left;margin-left:70%;display:inline;padding-right:250px;border-radius:50%;border-color:#fff;height:400px;width:400px;padding-top:135px;margin-top:-260px;}
.lettero {border: 5px solid; background-color:#1d252c;float:left;margin-left:70%;display:inline;padding-right:250px;border-radius:50%;border-color:#fff;height:400px;width:400px;padding-top:135px;margin-top:-280px;}
.tmhead {display:none;}
.tmbody {display:inline !important;}
}

.tmbody {display:none;}
.typesimg {display:block; margin:auto;}
.therestrainer{border:2px solid #fff;background-color:#1d252c;}
.desc{padding-left:35px;color:#fff;}


article h1, article h2, article h3, article h4, article a{
font-family: 'Montserrat', sans-serif;
}
.cnt a { color:#977100 !important; text-decoration:underline;}
.cnt a:hover{ color:#977100 !important; text-decoration:none;}
article a:hover{ color:#977100 !important; text-decoration:none !important;}
article .wrapper {max-width:1180px; padding-left:20px; padding-right:20px; margin:auto;}
.regcolor {color:#1d252c !important; text-decoration:none;}
.mowerheader {background:url("../images/grass-header.jpg") no-repeat;  background-size: 100% 100%; margin:0 -30rem;}
.head-space h1 {color:#fff;}
.ptlk {color:#30aeb6;}
.tmlk {color:#de4326;}
.dslk {color:#84c98f;}
.pbrlk {color:#f1ac1e;}
.iplk {color:#704579;}
.fnote { font-size:11px;}
.cap { font-size:11px;font-style:italic;width:300px;}
.capr { font-size:11px;font-style:italic;text-align:right;}
.quote { font-style: italic; padding-left:10%; padding-right:10%;}
.hist-nav {width:100%;display:inline-block;background-color:#1d252c;color:#fff;padding-top:2%;padding-bottom:2%;}
.hist-nav a {padding-left:5%;padding-right:5%; color:977100;}
.wwipathead {background-image:url(../images/wwi/wwi-patent.jpg);}
.wwitmhead {background-image:url(../images/wwi/wwi-tm.jpg);}
.wwidshead {background-image:url(../images/wwi/wwi-design.jpg);}

.ed-header {color:#1d252c;}
.ed-morning { background:url("../images/everyday-morning.png") no-repeat;}
.ed-afternoon {background:url("../images/everyday-afternoon.png") no-repeat;}
.ed-evening {background:url("../images/everyday-evening.png") no-repeat;}
.ed-night {background:url("../images/everyday-night.png") no-repeat;}
.ed-nav {width:100%;display:inline-block;background-color:#1d252c;color:#fff;padding-top:2%;padding-bottom:2%;padding-right:5%;}
.ed-nav a {padding-left:5%;padding-right:5%;margin-left:5%; color:#977100;text-decoration:underline;}
.ed-nav a:hover {color:#977100; text-decoration:none;}
article .header {background-color:#1d252c;} /* <-- this is same styling as ip-rights-wwi. ok to merge */
.nextbox { /* <-- this is same styling as ip-rights-wwi. ok to merge */
	background-color: #1d252c;
	color: #fff;
	padding-bottom:46px;
	padding-left: 30%;
	padding-right: 30%;
}
.nextbox h3 { 
	padding: 0px;
	color:#fff;
	text-align: center;
}

.stretch { background-size:contain; color:#fff;height:250px;}

article .row {padding-bottom:40px; padding-top:40px;}

.row-process{height:300px; padding-top:40px; padding-bottom:40px;}
.head-space {padding:40px;}
div.thick {
  height:4px;
  border:0;
  color:#fff;
  background-color:#fff;
  width:150px;
  text-align:left;
  margin-bottom:10px;
  }
  div.thickgrey {
  height:4px;
  border:0;
  color:#b6bec1;
  background-color:#b6bec1;
  width:150px;
  text-align:left;
  margin-bottom:10px;
  }
article .stretch { background-size:center; color:#fff;height:250px; background-position:center;}

.tpatent {color:#30aeb6 !important; background-color:#30aeb6 !important;}
.ttm {color:#de4326 !important; background-color:#de4326 !important;}
.tdesign {color:#84c98f !important; background-color:#84c98f !important;}
.tpbr {color:#f1ac1e !important; background-color:#f1ac1e !important;}
.tmore {color:#704579 !important; background-color:#704579 !important;}
article .left {/*background-color: #eef0f1;*/
border-left-style: solid; 
border-left-width:4px; 
border-left-color:#de4326;
border-right-style: solid; 
border-right-width:4px; 
border-right-color:#eef0f1;
border-bottom-style: solid; 
border-bottom-width:4px; 
border-bottom-color:#de4326;
}
article .right {
border-right-style: solid; 
border-right-width:4px; 
border-right-color:#de4326;
border-left-style: solid; 
border-left-width:4px; 
border-left-color:#eef0f1;
border-bottom-style: solid; 
border-bottom-width:4px; 
border-bottom-color:#de4326;
}
/*animation*/
.animation-element {
  opacity: 0;
  position: relative;
}
/*slide left*/
.animation-element.slide-left {
  opacity: 0;
  -moz-transition: all 500ms linear;
  -webkit-transition: all 500ms linear;
  -o-transition: all 500ms linear;
  transition: all 500ms linear;
  -moz-transform: translate3d(-100px, 0px, 0px);
  -webkit-transform: translate3d(-100px, 0px, 0px);
  -o-transform: translate(-100px, 0px);
  -ms-transform: translate(-100px, 0px);
  transform: translate3d(-100px, 0px, 0px);
}

.animation-element.slide-left.in-view {
  opacity: 1;
  -moz-transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate3d(0px, 0px, 0px);
}
/*slide right*/
.animation-element.slide-right {
  opacity: 0;
  -moz-transition: all 500ms linear;
  -webkit-transition: all 500ms linear;
  -o-transition: all 500ms linear;
  transition: all 500ms linear;
  -moz-transform: translate3d(100px, 0px, 0px);
  -webkit-transform: translate3d(100px, 0px, 0px);
  -o-transform: translate(100px, 0px);
  -ms-transform: translate(100px, 0px);
  transform: translate3d(100px, 0px, 0px);
}

.animation-element.slide-right.in-view {
  opacity: 1;
  -moz-transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate3d(0px, 0px, 0px);
}