@mixin news-community-texts {
    text-align: left;
    @include background-image('transparent-pixel-purple_v2.png', center, center, repeat);
    padding: 0px 20px;
    margin: 0 auto;
    color: white;
    width: 380px;
    display:block;
    position:relative;
    z-index: 100;
}