/*
apply sticky styling to sticky sub menu
*/

@mixin stick_sub_menu() {
    @media only screen and (min-width: $break-point-medium) {
        background: white none repeat scroll 0 0;
        position: sticky;
        top: 80px;
        z-index: 200;

        &.js-is-sticky {
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
            position: fixed;
            width: 100%;
            top: 80px;
            left: 0;

            @supports (position: sticky) {
                position: sticky;
            }
        }
    }
}
